---
import { Highlight } from "@/components/ui/highlight";
// import Profile from "../_assets/about-at-kauai.JPG";
import Profile from "../_assets/about-at-kauai.webp";
import { Image } from "astro:assets";
import Section from "@/components/ui/section.astro";
import { Stat } from "@/components/ui/stat";
import { Meteors } from "@/components/ui/meteors";
import Card from "@/components/ui/card.astro";
---

<Section
  idName="about"
  title="About"
  minHeight="110svh"
  backgroundColor="hero"
  className="flex flex-col   w-full items-center corners-section relative  after:bg-bgColorHero "
>
  <!-- <div
    class="absolute inset-auto z-50 h-36 w-[28rem] -translate-y-1/2 rounded-full bg-cyan-500 opacity-50 blur-3xl"
  >
  </div> -->
  <Meteors number={30} client:visible />
  <div
    class="grid grid-cols-12 grid-flow-row gap-l sm:gap-xs max-w-sm sm:container mx-auto mt-2xl px-l sm:px-0"
  >
    <div
      class="col-span-12 sm:col-span-6 flex flex-col gap-xl h-full items-start"
    >
      <!-- <NoiseText client:load>hola</NoiseText> -->
      <h2 class="text-accent">Hola!</h2>

      <div
        class="relative flex flex-col gap-m *:text-textColor"
      >
        <!-- <p>
          I'm Andrés, a <Highlight
            >Senior Front End Developer</Highlight
          > with a <Highlight
            >robust 14-year career.</Highlight
          > I'm originally from Colombia but now call NYC home.
        </p> -->
        <p>
          I'm Andrés, a <Highlight
            >Senior Front End Developer</Highlight
          > with a <Highlight
            >robust 14-year career.</Highlight
          > I'm originally from Colombia but now call NYC home.
        </p>

        <p>
          Throughout my career, I've specialized in crafting <Highlight
            >innovative</Highlight
          > and <Highlight>efficient</Highlight> tech solutions.
          Within two years at Britannica Home Fashions, I was
          promoted to lead a small team of developers, implementing
          processes that significantly enhanced company-wide
          <Highlight>efficiency</Highlight> and <Highlight
            >productivity.</Highlight
          > I bring a strong ability to understand and translate
          business needs into practical software solutions, driving
          <Highlight>strategic improvements</Highlight> beyond
          programming. With over <Highlight
            >30 projects</Highlight
          > completed, I've gained extensive experience in <Highlight
            >Full Stack and Front End Development.</Highlight
          >
        </p>

        <p>
          Outside of coding, I explore my creativity through
          art, music, and nature. I love deep thinking,
          playing tennis, and chess, attending concerts, and
          I'm always up for a hike!
        </p>
        <p>
          My goal is to join a <Highlight
            >mission-driven
          </Highlight>company, ideally in the <Highlight
            >sustainability,</Highlight
          ><Highlight> renewable energy,</Highlight> or <Highlight
            >biotech</Highlight
          > sector, but I am open to any<Highlight>
            innovative</Highlight
          > and<Highlight> impactful </Highlight>industry. I
          am eager to apply my <Highlight
            >expertise</Highlight
          > to <Highlight>meaningful projects</Highlight> that
          make a difference. Let's connect if our <Highlight
            >visions align</Highlight
          > and you're looking for someone passionate about driving
          <Highlight>positive change!</Highlight>
        </p>
      </div>
      <div
        class="flex flex-row gap-m sm:gap-2xl w-full h-full z-10"
      >
        <Stat value="NYC" label="Location" />
        <Stat value="14+" label="Years of Exp" />
        <Stat value="30+" label="Projects Completed" />
        <Stat value="2" label="Languages Spoken" />
      </div>
      <!-- <div class="w-32 h-16 self-end mr-[28%] mt-4">
        <slot name="signature" />
      </div> -->
    </div>

    <!-- <CardGlow /> -->
    <Card
      class="w-full h-full after:corners after:bg-primary-gradient relative p-2 sm:p-s col-span-12 sm:col-span-6 flex flex-col items-start gap-xl shadow-3xl [perspective:1000px] transition-all duration-500 transform sm:max-h-[75dvh] sm:max-w-[45dvw]"
    >
      <Image
        class:list={[" object-cover h-full w-full  "]}
        style={{
          // filter: "grayscale(0.25)",
          objectPosition: "bottom left ",
        }}
        src={Profile}
        format="webp"
        alt="At profile picture"
        loading="lazy"
        quality="high"
        onload="this.style.opacity = 1; this.style.transform = 'scale(1)'"
      />
    </Card>
    <!-- <video
        autoplay
        slot="signature"
        class="h-16 w-96 object-cover"
      >
        <source
          src={signature}
          type="video/mp4"
        />
      </video> -->
  </div>

  <style>
    img {
      transform-origin: center center;
      transition:
        opacity 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
        transform 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
    }
  </style>
</Section>
