---
import { Highlight } from "@/components/ui/highlight";
// import profile from "../_assets/at-profile.png";
import profile from "../_assets/at-kauai.JPG";
import signature from "../_assets/at-signature.mp4";
import { Image } from "astro:assets";
import SectionTitle from "@/components/ui/zzzzsection-title.astro";
import { NoiseText } from "./noise";
import { Section } from "@/components/ui/section";
---

<Section
  client:visible
  idName="about"
  title="About"
  backgroundColor="bgColorHero"
  className="flex flex-col justify-center items-center    "
>
  <!-- <div
    class="absolute rounded-t-[8rem] -top-6xl inset-0 border-t-4 border-accent bg-bgColorHero"
  >
  </div> -->

  <!-- <SectionTitle backgroundType="" class=""
    >ABOUT</SectionTitle
  > -->
  <div class="grid grid-cols-12 gap-xs container mx-auto">
    <div class="col-span-6 flex flex-col gap-xl h-full">
      <!-- <NoiseText client:load>hola</NoiseText> -->
      <h2 class="noise">Hola!</h2>
      <div
        class="relative flex flex-col gap-m [&>*]:text-textColor"
      >
        <p class="">
          I am Andrés, a<Highlight
            >senior fullstack / frontend developer (manager)</Highlight
          > with over<Highlight
            >14 years of experience.</Highlight
          >I am originally from Colombia but now living in<Highlight
            >NYC</Highlight
          >and loving it! Throughout these years, I have
          developed a strong foundation in crafting
          innovative and efficient technology solutions.
        </p>
        <p>
          After a rewarding career in the textile industry,
          I am<Highlight
            >embarking on a new journey to specialize in
            frontend development.</Highlight
          > My focus is on companies and organizations at the
          forefront of innovation, making a positive impact in
          the world — anywhere I can contribute to restoring
          our planet and creating a more sustainable future.
        </p>
        <!-- <p>
          I am not just seeking a job —<Highlight
            >I am seeking a chance to be part of something
            special, to work with a team that shares my
            vision for a better world</Highlight
          >. Whether it's creating beautiful apps or
          crafting engaging and inspiring websites, I thrive
          on the opportunity to make a difference while
          doing what I love.
        </p> -->
        <p>
          When I'm not coding, I enjoy exploring my creative
          side through art, music, and nature. I love to
          learn!
        </p>

        <p>
          I know <Highlight
            >I have the potential to inspire and change
            lives</Highlight
          >and I am deeply inspired by the transformative
          possibilities that lie ahead.<Highlight
            >If my goals align with your mission, I welcome
            the opportunity to connect!</Highlight
          >
        </p>
      </div>
      <div
        class="flex flex-row gap-2xl items-center align-middle w-full h-full z-10"
      >
        <div class="flex flex-col gap-xs items-center">
          <h4 class="text-accent">NYC</h4>
          <span class="text-xs font-light">Location</span>
        </div>
        <div class="flex flex-col gap-xs items-center">
          <h4 class="text-accent">14+</h4>
          <span class="text-xs font-light"
            >Years of Exp</span
          >
        </div>
        <div class="flex flex-col gap-xs items-center">
          <h4 class="text-accent">30+</h4>
          <span class="text-xs font-light"
            >Projects Completed
          </span>
        </div>

        <div class="flex flex-col gap-xs items-center">
          <h4 class="text-accent">2</h4>
          <span class="text-xs font-light"
            >Languages Spoken</span
          >
        </div>
      </div>
      <!-- <div class="w-32 h-16 self-end mr-[28%] mt-4">
        <slot name="signature" />
      </div> -->
    </div>

    <div
      class="relative p-m col-span-6 flex flex-col items-start gap-xl"
    >
      <!-- <CardGlow /> -->
      <Image
        slot="image"
        class:list={[
          "mt-3xl      shadow-3xl [perspective:1000px]   transition-all duration-500 transform   rounded-xl object-cover h-full w-full max-h-[65dvh] max-w-[40dvw] ",
        ]}
        style={{
          // filter: "grayscale(0.25)",
          objectPosition: "bottom left ",
        }}
        src={profile}
        alt="At profile picture"
        format="webp"
        loading="eager"
        quality="high"
        onload="this.style.opacity = 1; this.style.transform = 'scale(1)'"
      />
      <!-- <video
        autoplay
        slot="signature"
        class="h-16 w-96 object-cover"
      >
        <source
          src={signature}
          type="video/mp4"
        />
      </video> -->
    </div>
  </div>
</Section>

<style>
  img {
    transform-origin: center center;
    transition:
      opacity 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
      transform 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  }
</style>
