---
import Contact from "@/components/Contact.astro";

import { Section } from "@/components/ui/section";
---

<Section
  client:visible
  idName="contact"
  title="Contact Me!"
  backgroundColor="bgColor"
  className="flex flex-col justify-center items-center    "
>
  <Contact />
</Section>
