---

---

<section
  class="relative container mx-auto min-h-svh grid place-content-center"
>
  <div
    class="flex flex-col gap-l items-center justify-center w-full h-full"
  >
    <h6 class="font-light opacity-80 tracking-widest">
      ANDRES TRUJILLO
    </h6>
    <p
      class="flex font-bold text-5xl font-heading flex-wrap gap-[0.5ch] max-w-[35ch] m-0 text-center resize overflow-hidden items-center justify-center py-4 px-0"
    >
      <span class="swapper-first">Creative </span>
      <span id="swapper" class="swapper text-accent">
        Frontend Developer
      </span>
      <span class="swapper-last">empowering</span>
      <span class="">change through design </span>
      <span class="block"> and engineering</span>
    </p>
  </div>
</section>

<script>
  //   const WORDS = [
  //     "Productivity",
  //     "Efficiency",
  //     "Passion",
  //     "Creativity",
  //   ];

  const WORDS = [
    "Frontend Developer",
    "Architect",
    "Prototyper",
    "Animator",
    "Fullstack Developer",
    "UI/UX Designer",
    "Web Engineer",
    "Illustrator",
    "AI Engineer",
  ];
  let count = 0;
  const SWAPPER = document.querySelector("#swapper");

  const SWAP = () => {
    if (!document.startViewTransition) {
      SWAPPER.innerText =
        WORDS[(count += 1) % WORDS.length];
    } else {
      document.startViewTransition(() => {
        SWAPPER.innerText =
          WORDS[(count += 1) % WORDS.length];
      });
    }
  };

  setInterval(SWAP, 2000);
</script>
