---
import { AuroraBackground } from "@/components/ui/aurora-background";
---

<AuroraBackground className="relative  ">
  <div
    class="absolute inset-0 bg-gradient-to-r from-transparent via-white/10 to-transparent"
  >
  </div>
  <div
    class="absolute inset-0 bg-radial-gradient-1 opacity-30 mix-blend-screen"
  >
  </div>
  <section
    class="relative container mx-auto min-h-svh grid place-content-center gap-xl justify-center w-full min-w-7xl"
  >
    <h6
      class="font-light opacity-90 tracking-widest text-center"
    >
      ANDRES TRUJILLO
    </h6>
    <p
      class="flex font-semibold text-6xl font-heading flex-wrap gap-[0.5ch] min-w-[40ch] m-0 text-center resize overflow-hidden items-center justify-center py-4 px-0"
    >
      <span class="swapper-first">Creative </span>
      <span
        id="swapper"
        class="swapper text-7xl font-black text-accent font-cursive rounded-md py-0 px-xs"
        >Frontend Dev</span
      >
      <span class="swapper-last">empowering</span>
      <span class="block w-full">
        change through design</span
      >
      <span class="block w-full"> and engineering</span>
    </p>
  </section>
</AuroraBackground>

<script>
  //   const WORDS = [
  //     "Productivity",
  //     "Efficiency",
  //     "Passion",
  //     "Creativity",
  //   ];

  const WORDS = [
    "Frontend Dev",
    "Architect",
    "Prototyper",
    "Animator",
    "Fullstack Dev",
    "Visual Designer",
    "Web Engineer",
    "Illustrator",
    // "AI Engineer",
  ];
  let count = 0;
  const SWAPPER = document.querySelector("#swapper");

  const SWAP = () => {
    if (!document.startViewTransition) {
      SWAPPER.innerText =
        WORDS[(count += 1) % WORDS.length];
    } else {
      document.startViewTransition(() => {
        SWAPPER.innerText =
          WORDS[(count += 1) % WORDS.length];
      });
    }
  };

  setInterval(SWAP, 2000);
</script>
