---
import Project from "./project/project.astro";
// import { projects } from "@/config/projects-config";
import SectionTitle from "@/components/ui/zzzzsection-title.astro";
import type { Project as ProjectProps } from "@/types";

import BHFHero from "@/pages/_assets/bhf-hero.mp4";
import GigsTraxHero from "@/pages/_assets/bhf-hero.mp4";
// import BhfFeatures from "@/pages/_assets/bhf-hero.mp4";
// import BhfMore from "@/pages/_assets/bhf-hero.mp4";
import { SectionWrapper } from "@/components/ui/section";

import ProjectHeroBhfLogos from "./project/project-hero-bhf-logos.astro";
import { FadeUpStagger } from "@/components/ui/fade-up";
// import { BhfBrandLogosWrapper } from "./project/bhf/brand-logos-wrapper";
import { Section } from "@/components/ui/section";

const projects: ProjectProps[] = [
  {
    visible: true,
    title: "ERP System",
    client: "Britannica Home Fashions",
    description:
      "Here's how I single-handedly built a full-cycle ERP system from the ground up, architecting an optimization powerhouse that accelerated growth and transformed teams, processes, and operations. ",
    // "Here's how I single-handedly built an  transformed entire teams, processes, and operations by building a full-cycle ERP system from the ground up while architecting an optimization powerhouse that accelerated growth.",
    wordsToHighlight: [
      "single-handedly transformed",
      "full-cycle ERP system",
      "architecting an optimization powerhouse",
      " accelerated growth",
    ],

    homepageUrl: "https://andretru2.github.io/",
    repoUrl: "",
    caseStudyUrl: "/projects/bhf",
    hero: BHFHero,
    features: [
      {
        section: "About",
        featured: 1,
        title: "BHF",
        description:
          "A premier global provider of home goods, known for innovation and quality, this multi-million dollar company was established over 50 years ago in NYC.",
        wordsToHighlight: [
          "premier global provider",
          "innovation and quality",
          "multi-million dollar company",
          "established over 50 years ago",
        ],
      },
      {
        section: "About",
        featured: 2,
        title: "Best of the world Brands",
        description: "BHF works with top brands ",
        wordsToHighlight: [
          "UGG",
          "Pendleton",
          "innovation and quality",
          "multi-million dollar company",
          "established over 50 years ago",
        ],
      },
      {
        section: "Features",
        featured: 1,
        title: "Purchase Orders",
        description:
          "This module automates and streamlines numerous tedious, manual tasks for staff, playing a crucial role in generating millions of dollars in revenue each month. ",
        wordsToHighlight: [
          "automates and streamlines",
          "generating millions of dollars",
        ],
      },
      {
        section: "Features",
        featured: 2,
        title: "Invoices",
        description:
          "This module efficiently automates the entire billing process, from generation to tracking, saving countless hours and ensuring accurate, timely payments that keep cash flow strong.",

        wordsToHighlight: [
          "efficiently automates",
          "accurate, timely payments",
          "keep cash flow strong",
          "business running smoothly",
        ],
      },
      {
        section: "Features",
        featured: 3,
        title: "Design System",
        description:
          "Built a design system in Figma and translated all of its components in React, unifying and standardizing the entire product development process. ",

        wordsToHighlight: [
          "from the ground up",
          "unifying and standardizing",
        ],
      },

      {
        section: "More",
        featured: 1,
        title: "Mobile App",
        description:
          "The invoice module efficiently automates the entire billing process, from generation to tracking, saving countless hours and ensuring accurate, timely payments that keep cash flow strong and business running smoothly.",

        wordsToHighlight: [
          "efficiently automates",
          "accurate, timely payments",
          "keep cash flow strong",
          "business running smoothly",
        ],
      },
      {
        section: "More",
        featured: 2,
        title: "Personalized Dashboards",
        description:
          "Built a design system from the ground up, unifying and standardizing the entire product development process. ",

        wordsToHighlight: [
          "from the ground up",
          "unifying and standardizing",
        ],
      },
      {
        section: "More",
        featured: 3,
        title: "Factories Portal",
        description:
          "Built a design system from the ground up, unifying and standardizing the entire product development process. ",

        wordsToHighlight: [
          "from the ground up",
          "unifying and standardizing",
        ],
      },
      {
        section: "More",
        featured: 4,
        title: "Docusign Integration",
        description:
          "Built a design system from the ground up, unifying and standardizing the entire product development process. ",

        wordsToHighlight: [
          "from the ground up",
          "unifying and standardizing",
        ],
      },
    ],
    roles: [
      "chief-architect",
      "manager",
      "fullstack",
      "database-admin",
      "uiux",
      "frontend",
      "backend",
      "project-manager",
      "prototyper",
    ],
    tools: [
      "threejs",
      "react",
      "tailwind",
      "typescript",
      "figma",
      "nextjs",
      "c",
      "sqlserver",
      "js",
      "filemaker",
    ],
    featured: 1,
  },
  {
    visible: false,
    title: "GigsTrax",
    client: "Real Beard Santas",
    description:
      "Gigstrax revolutionizes event management with its all-in-one platform, seamlessly coordinating scheduling, invoicing, and communication.  ",

    wordsToHighlight: [
      "revolutionizes event management",
      "seamlessly coordinating scheduling, invoicing, and communication",
    ],

    homepageUrl: "https://andretru2.github.io/",
    repoUrl: "",
    caseStudyUrl: "",
    hero: GigsTraxHero,
    features: [
      {
        section: "About",
        featured: 1,
        title: "GigsTrax",
        description:
          "A premier global provider of home goods, known for innovation and quality, this multi-million dollar company was established over 50 years ago in NYC.",
        wordsToHighlight: [
          "premier global provider",
          "innovation and quality",
          "multi-million dollar company",
          "established over 50 years ago",
        ],
      },
      {
        section: "About",
        featured: 2,
        title: "Best of the world Brands",
        description: "BHF works with top brands ",
        wordsToHighlight: [
          "UGG",
          "Pendleton",
          "innovation and quality",
          "multi-million dollar company",
          "established over 50 years ago",
        ],
      },
      {
        section: "Features",
        featured: 1,
        title: "Purchase Orders",
        description:
          "This module automates and streamlines numerous tedious, manual tasks for staff, playing a crucial role in generating millions of dollars in revenue each month. ",
        wordsToHighlight: [
          "automates and streamlines",
          "generating millions of dollars",
        ],
      },
      {
        section: "Features",
        featured: 2,
        title: "Invoices",
        description:
          "This module efficiently automates the entire billing process, from generation to tracking, saving countless hours and ensuring accurate, timely payments that keep cash flow strong.",

        wordsToHighlight: [
          "efficiently automates",
          "accurate, timely payments",
          "keep cash flow strong",
          "business running smoothly",
        ],
      },
      {
        section: "Features",
        featured: 3,
        title: "Design System",
        description:
          "Built a design system in Figma and translated all of its components in React, unifying and standardizing the entire product development process. ",

        wordsToHighlight: [
          "from the ground up",
          "unifying and standardizing",
        ],
      },

      {
        section: "More",
        featured: 1,
        title: "Mobile App",
        description:
          "The invoice module efficiently automates the entire billing process, from generation to tracking, saving countless hours and ensuring accurate, timely payments that keep cash flow strong and business running smoothly.",

        wordsToHighlight: [
          "efficiently automates",
          "accurate, timely payments",
          "keep cash flow strong",
          "business running smoothly",
        ],
      },
      {
        section: "More",
        featured: 2,
        title: "Personalized Dashboards",
        description:
          "Built a design system from the ground up, unifying and standardizing the entire product development process. ",

        wordsToHighlight: [
          "from the ground up",
          "unifying and standardizing",
        ],
      },
      {
        section: "More",
        featured: 3,
        title: "Factories Portal",
        description:
          "Built a design system from the ground up, unifying and standardizing the entire product development process. ",

        wordsToHighlight: [
          "from the ground up",
          "unifying and standardizing",
        ],
      },
      {
        section: "More",
        featured: 4,
        title: "Docusign Integration",
        description:
          "Built a design system from the ground up, unifying and standardizing the entire product development process. ",

        wordsToHighlight: [
          "from the ground up",
          "unifying and standardizing",
        ],
      },
    ],
    roles: [
      "chief-architect",
      "manager",
      "fullstack",
      "database-admin",
      "uiux",
      "frontend",
      "backend",
      "project-manager",
      "prototyper",
    ],
    tools: [
      "threejs",
      "react",
      "tailwind",
      "typescript",
      "figma",
      "nextjs",
      "c",
      "sqlserver",
      "js",
      "filemaker",
    ],
    featured: 2,
  },
  {
    visible: false,
    title: "Collection of my other projects",
    client: "Andres Trujillo",
    description:
      "Showcasing my multidisciplinary talent.  ",

    wordsToHighlight: [
      "revolutionizes event management",
      "seamlessly coordinating scheduling, invoicing, and communication",
    ],

    homepageUrl: "https://andretru2.github.io/",
    repoUrl: "",
    caseStudyUrl: "",
    hero: GigsTraxHero,
    features: [
      {
        section: "About",
        featured: 1,
        title: "GigsTrax",
        description:
          "A premier global provider of home goods, known for innovation and quality, this multi-million dollar company was established over 50 years ago in NYC.",
        wordsToHighlight: [
          "premier global provider",
          "innovation and quality",
          "multi-million dollar company",
          "established over 50 years ago",
        ],
      },
      {
        section: "About",
        featured: 2,
        title: "Best of the world Brands",
        description: "BHF works with top brands ",
        wordsToHighlight: [
          "UGG",
          "Pendleton",
          "innovation and quality",
          "multi-million dollar company",
          "established over 50 years ago",
        ],
      },
      {
        section: "Features",
        featured: 1,
        title: "Purchase Orders",
        description:
          "This module automates and streamlines numerous tedious, manual tasks for staff, playing a crucial role in generating millions of dollars in revenue each month. ",
        wordsToHighlight: [
          "automates and streamlines",
          "generating millions of dollars",
        ],
      },
      {
        section: "Features",
        featured: 2,
        title: "Invoices",
        description:
          "This module efficiently automates the entire billing process, from generation to tracking, saving countless hours and ensuring accurate, timely payments that keep cash flow strong.",

        wordsToHighlight: [
          "efficiently automates",
          "accurate, timely payments",
          "keep cash flow strong",
          "business running smoothly",
        ],
      },
      {
        section: "Features",
        featured: 3,
        title: "Design System",
        description:
          "Built a design system in Figma and translated all of its components in React, unifying and standardizing the entire product development process. ",

        wordsToHighlight: [
          "from the ground up",
          "unifying and standardizing",
        ],
      },

      {
        section: "More",
        featured: 1,
        title: "Mobile App",
        description:
          "The invoice module efficiently automates the entire billing process, from generation to tracking, saving countless hours and ensuring accurate, timely payments that keep cash flow strong and business running smoothly.",

        wordsToHighlight: [
          "efficiently automates",
          "accurate, timely payments",
          "keep cash flow strong",
          "business running smoothly",
        ],
      },
      {
        section: "More",
        featured: 2,
        title: "Personalized Dashboards",
        description:
          "Built a design system from the ground up, unifying and standardizing the entire product development process. ",

        wordsToHighlight: [
          "from the ground up",
          "unifying and standardizing",
        ],
      },
      {
        section: "More",
        featured: 3,
        title: "Factories Portal",
        description:
          "Built a design system from the ground up, unifying and standardizing the entire product development process. ",

        wordsToHighlight: [
          "from the ground up",
          "unifying and standardizing",
        ],
      },
      {
        section: "More",
        featured: 4,
        title: "Docusign Integration",
        description:
          "Built a design system from the ground up, unifying and standardizing the entire product development process. ",

        wordsToHighlight: [
          "from the ground up",
          "unifying and standardizing",
        ],
      },
    ],
    roles: [
      "chief-architect",
      "manager",
      "fullstack",
      "database-admin",
      "uiux",
      "frontend",
      "backend",
      "project-manager",
      "prototyper",
    ],
    tools: [
      "threejs",
      "react",
      "tailwind",
      "typescript",
      "figma",
      "nextjs",
      "c",
      "sqlserver",
      "js",
      "filemaker",
    ],
    featured: 3,
  },
];
---

<!-- <SectionWrapper client:visible>
  </SectionWrapper> -->
<Section
  client:visible
  idName="projects"
  title="Featured Projects"
  backgroundColor="bgColor"
  margin="bottom"
  className=" flex  flex-col justify-center items-center"
>
  <div class="flex flex-col gap-64">
    {projects.map((project) => <Project {...project} />)}
  </div>

  <!-- <ProjectHeroBhfLogos /> -->
  <!-- <BhfBrandLogosWrapper /> -->
</Section>

<!-- <FadeUpStagger client:idle /> -->
