---
import Project from "./project/project.astro";
import { projects } from "@/config/projects";
import Background from "@/components/ui/background.astro";
import SectionTitle from "@/components/ui/section-title.astro";
---

<section
  id="#projects"
  class:list={[
    " flex  flex-col justify-center items-center w-full container mx-auto relative",
  ]}
>
  <!-- <Background backgroundType="projects" /> -->
  <SectionTitle backgroundType="toProjects">
    FEATURED PROJECTS</SectionTitle
  >

  {projects.map((project) => <Project {...project} />)}
</section>
