---
import Project from "./project/project.astro";
import type { Project as ProjectProps } from "@/types";
import BHFHero from "@/pages/_assets/project-bhf-hero.mp4";
import GigsTraxHero from "@/pages/_assets/project-gigstrax-hero.mp4";
import OtherProjects from "@/pages/_assets/project-other-projects.mp4";
import { Section } from "@/components/ui/section";

const projects: ProjectProps[] = [
  {
    visible: true,
    title: "ERP System",
    client: "Britannica Home Fashions",
    description:
      "Here's how I single-handedly built a full-cycle ERP system from the ground up, architecting an optimization powerhouse that accelerated growth and transformed teams, processes, and operations. ",
    // "Here's how I single-handedly built an  transformed entire teams, processes, and operations by building a full-cycle ERP system from the ground up while architecting an optimization powerhouse that accelerated growth.",
    wordsToHighlight: [
      "single-handedly transformed",
      "full-cycle ERP system",
      "architecting an optimization powerhouse",
      " accelerated growth",
    ],

    homepageUrl: "https://andretru2.github.io/",
    repoUrl: "",
    caseStudyUrl: "/projects/bhf",
    hero: {
      src: BHFHero,
      alt: "",
    },
    features: [
      {
        section: "About",
        featured: 1,
        title: "BHF - Premier Home Goods",
        description:
          "BHF is a leading global provider of innovative, high-quality home goods. Founded over 50 years ago in NYC, this multi-million dollar company has set industry standards.",
        wordsToHighlight: [
          "leading global provider",
          "innovative",
          "high-quality",
          "founded over 50 years ago",
        ],
      },
      {
        section: "About",
        featured: 2,
        title: "Partnerships with Top Brands",
        description:
          "BHF collaborates with renowned brands like UGG and Pendleton, ensuring top-notch innovation and quality in every product they offer.",
        wordsToHighlight: [
          "collaborates with renowned brands",
          "UGG",
          "Pendleton",
          "innovation and quality",
        ],
      },
      {
        section: "Features",
        featured: 1,
        title: "Automated Purchase Orders",
        description:
          "Our Purchase Orders module automates and streamlines tedious tasks, significantly contributing to the generation of millions in monthly revenue.",
        wordsToHighlight: [
          "automates",
          "streamlines tedious tasks",
          "generation of millions",
          "monthly revenue",
        ],
      },
      {
        section: "Features",
        featured: 2,
        title: "Efficient Invoicing",
        description:
          "The Invoices module automates billing from generation to tracking, saving time and ensuring accurate, timely payments that maintain strong cash flow.",
        wordsToHighlight: [
          "automates billing",
          "generation to tracking",
          "accurate payments",
          "strong cash flow",
        ],
      },
      {
        section: "Features",
        featured: 3,
        title: "Comprehensive Design System",
        description:
          "Our design system, built in Figma and implemented in React, unifies and standardizes product development, enhancing consistency and efficiency.",
        wordsToHighlight: [
          "built in Figma",
          "implemented in React",
          "unifies",
          "standardizes",
        ],
      },
      {
        section: "More",
        featured: 1,
        title: "Intuitive Mobile App",
        description:
          "Our mobile app integrates seamlessly with the invoice module, automating billing and ensuring accurate, timely payments to keep your business running smoothly.",
        wordsToHighlight: [
          "integrates seamlessly",
          "automating billing",
          "accurate payments",
          "business running smoothly",
        ],
      },
      {
        section: "More",
        featured: 2,
        title: "Custom Dashboards",
        description:
          "Our personalized dashboards are built from the ground up, providing a unified and standardized view of your business metrics and enhancing decision-making.",
        wordsToHighlight: [
          "personalized dashboards",
          "built from the ground up",
          "unified view",
          "enhancing decision-making",
        ],
      },
      {
        section: "More",
        featured: 3,
        title: "Factories Management Portal",
        description:
          "Our Factories Portal is developed from the ground up, unifying and standardizing the management process, enhancing efficiency across all operations.",
        wordsToHighlight: [
          "Factories Portal",
          "from the ground up",
          "unifying",
          "enhancing efficiency",
        ],
      },
      {
        section: "More",
        featured: 4,
        title: "Seamless Docusign Integration",
        description:
          "Our Docusign Integration, built from the ground up, unifies and standardizes document handling, ensuring smooth and secure transactions.",
        wordsToHighlight: [
          "Docusign Integration",
          "unifies",
          "standardizes",
          "smooth transactions",
        ],
      },
    ],
    roles: [
      "chief-architect",
      "manager",
      "fullstack",
      "database-admin",
      "uiux",
      "frontend",
      "backend",
      "project-manager",
      "prototyper",
    ],
    tools: [
      "react",
      "tailwind",
      "typescript",
      "figma",
      "nextjs",
      "c",
      "sqlserver",
      "js",
      "filemaker",
    ],
    featured: 1,
  },
  {
    visible: false,
    title: "GigsTrax",
    client: "Real Beard Santas",
    description:
      "Gigstrax revolutionizes event management with its all-in-one platform, seamlessly coordinating scheduling, invoicing, and communication.  ",

    wordsToHighlight: [
      "revolutionizes event management",
      "seamlessly coordinating scheduling, invoicing, and communication",
    ],

    homepageUrl: "https://andretru2.github.io/",
    repoUrl: "",
    caseStudyUrl: "",
    hero: {
      src: GigsTraxHero,
      alt: "",
    },

    features: [
      {
        section: "About",
        featured: 1,
        title: "GigsTrax",
        description:
          "A premier global provider of home goods, known for innovation and quality, this multi-million dollar company was established over 50 years ago in NYC.",
        wordsToHighlight: [
          "premier global provider",
          "innovation and quality",
          "multi-million dollar company",
          "established over 50 years ago",
        ],
      },
      {
        section: "About",
        featured: 2,
        title: "Best of the world Brands",
        description: "BHF works with top brands ",
        wordsToHighlight: [
          "UGG",
          "Pendleton",
          "innovation and quality",
          "multi-million dollar company",
          "established over 50 years ago",
        ],
      },
      {
        section: "Features",
        featured: 1,
        title: "Purchase Orders",
        description:
          "This module automates and streamlines numerous tedious, manual tasks for staff, playing a crucial role in generating millions of dollars in revenue each month. ",
        wordsToHighlight: [
          "automates and streamlines",
          "generating millions of dollars",
        ],
      },
      {
        section: "Features",
        featured: 2,
        title: "Invoices",
        description:
          "This module efficiently automates the entire billing process, from generation to tracking, saving countless hours and ensuring accurate, timely payments that keep cash flow strong.",

        wordsToHighlight: [
          "efficiently automates",
          "accurate, timely payments",
          "keep cash flow strong",
          "business running smoothly",
        ],
      },
      {
        section: "Features",
        featured: 3,
        title: "Design System",
        description:
          "Built a design system in Figma and translated all of its components in React, unifying and standardizing the entire product development process. ",

        wordsToHighlight: [
          "from the ground up",
          "unifying and standardizing",
        ],
      },

      {
        section: "More",
        featured: 1,
        title: "Mobile App",
        description:
          "The invoice module efficiently automates the entire billing process, from generation to tracking, saving countless hours and ensuring accurate, timely payments that keep cash flow strong and business running smoothly.",

        wordsToHighlight: [
          "efficiently automates",
          "accurate, timely payments",
          "keep cash flow strong",
          "business running smoothly",
        ],
      },
      {
        section: "More",
        featured: 2,
        title: "Personalized Dashboards",
        description:
          "Built a design system from the ground up, unifying and standardizing the entire product development process. ",

        wordsToHighlight: [
          "from the ground up,",
          "unifying and standardizing",
        ],
      },
      {
        section: "More",
        featured: 3,
        title: "Factories Portal",
        description:
          "Built a design system from the ground up, unifying and standardizing the entire product development process. ",

        wordsToHighlight: [
          "from the ground up",
          "unifying and standardizing",
        ],
      },
      {
        section: "More",
        featured: 4,
        title: "Docusign Integration",
        description:
          "Built a design system from the ground up, unifying and standardizing the entire product development process. ",

        wordsToHighlight: [
          "from the ground up",
          "unifying and standardizing",
        ],
      },
    ],
    roles: [
      "chief-architect",
      "manager",
      "fullstack",
      "database-admin",
      "uiux",
      "frontend",
      "backend",
      "project-manager",
      "prototyper",
    ],
    tools: [
      "threejs",
      "react",
      "tailwind",
      "typescript",
      "figma",
      "nextjs",
      "c",
      "sqlserver",
      "js",
      "filemaker",
    ],
    featured: 2,
  },
  {
    visible: false,
    title: "Freelancing/Other Projects",
    client: "Andres Trujillo",
    description:
      "Showcasing my multidisciplinary talent.  ",

    wordsToHighlight: [
      "revolutionizes event management",
      "seamlessly coordinating scheduling, invoicing, and communication",
    ],

    homepageUrl: "https://andretru2.github.io/",
    repoUrl: "",
    caseStudyUrl: "",
    hero: {
      src: OtherProjects,
      alt: "",
    },
    features: [
      {
        section: "About",
        featured: 1,
        title: "GigsTrax",
        description:
          "A premier global provider of home goods, known for innovation and quality, this multi-million dollar company was established over 50 years ago in NYC.",
        wordsToHighlight: [
          "premier global provider",
          "innovation and quality",
          "multi-million dollar company",
          "established over 50 years ago",
        ],
      },
      {
        section: "About",
        featured: 2,
        title: "Best of the world Brands",
        description: "BHF works with top brands ",
        wordsToHighlight: [
          "UGG",
          "Pendleton",
          "innovation and quality",
          "multi-million dollar company",
          "established over 50 years ago",
        ],
      },
      {
        section: "Features",
        featured: 1,
        title: "Purchase Orders",
        description:
          "This module automates and streamlines numerous tedious, manual tasks for staff, playing a crucial role in generating millions of dollars in revenue each month. ",
        wordsToHighlight: [
          "automates and streamlines",
          "generating millions of dollars",
        ],
      },
      {
        section: "Features",
        featured: 2,
        title: "Invoices",
        description:
          "This module efficiently automates the entire billing process, from generation to tracking, saving countless hours and ensuring accurate, timely payments that keep cash flow strong.",

        wordsToHighlight: [
          "efficiently automates",
          "accurate, timely payments",
          "keep cash flow strong",
          "business running smoothly",
        ],
      },
      {
        section: "Features",
        featured: 3,
        title: "Design System",
        description:
          "Built a design system in Figma and translated all of its components in React, unifying and standardizing the entire product development process. ",

        wordsToHighlight: [
          "from the ground up",
          "unifying and standardizing",
        ],
      },

      {
        section: "More",
        featured: 1,
        title: "Mobile App",
        description:
          "The invoice module efficiently automates the entire billing process, from generation to tracking, saving countless hours and ensuring accurate, timely payments that keep cash flow strong and business running smoothly.",

        wordsToHighlight: [
          "efficiently automates",
          "accurate, timely payments",
          "keep cash flow strong",
          "business running smoothly",
        ],
      },
      {
        section: "More",
        featured: 2,
        title: "Personalized Dashboards",
        description:
          "Built a design system from the ground up, unifying and standardizing the entire product development process. ",

        wordsToHighlight: [
          "from the ground up",
          "unifying and standardizing",
        ],
      },
      {
        section: "More",
        featured: 3,
        title: "Factories Portal",
        description:
          "Built a design system from the ground up, unifying and standardizing the entire product development process. ",

        wordsToHighlight: [
          "from the ground up",
          "unifying and standardizing",
        ],
      },
      {
        section: "More",
        featured: 4,
        title: "Docusign Integration",
        description:
          "Built a design system from the ground up, unifying and standardizing the entire product development process. ",

        wordsToHighlight: [
          "from the ground up",
          "unifying and standardizing",
        ],
      },
    ],
    roles: [
      "chief-architect",
      "manager",
      "fullstack",
      "database-admin",
      "uiux",
      "frontend",
      "backend",
      "project-manager",
      "prototyper",
    ],
    tools: [
      "threejs",
      "react",
      "tailwind",
      "typescript",
      "figma",
      "nextjs",
      "c",
      "sqlserver",
      "js",
      "filemaker",
    ],
    featured: 3,
  },
];
---

<Section
  client:visible
  idName="projects"
  title="Featured Projects"
  backgroundColor="bgColor"
  margin="bottom"
  className=" flex  flex-col justify-center items-center"
>
  <div class="flex flex-col gap-64">
    {projects.map((project) => <Project {...project} />)}
  </div>
</Section>
