---
import Project from "./project/project.astro";
import type { Project as ProjectProps } from "@/types";
import BHFHero from "@/pages/_assets/project-bhf-hero.mp4";
import GigsTraxHero from "@/pages/_assets/project-gigstrax-hero.mp4";
import OtherProjects from "@/pages/_assets/project-other-projects.mp4";
import Section from "@/components/ui/section.astro";

const projects: ProjectProps[] = [
  {
    visible: "Case Study",
    title: "ERP System",
    client: "Britannica Home Fashions",
    description:
      "Here's how I single-handedly built a full-cycle ERP system from the ground up, architecting an optimization powerhouse that accelerated growth and transformed teams, processes, and operations. ",
    // "Here's how I single-handedly built an  transformed entire teams, processes, and operations by building a full-cycle ERP system from the ground up while architecting an optimization powerhouse that accelerated growth.",
    wordsToHighlight: [
      "single-handedly transformed",
      "full-cycle ERP system",
      "architecting an optimization powerhouse",
      " accelerated growth",
    ],

    homepageUrl: "https://www.britannicahome.com/",
    repoUrl: "",
    caseStudyUrl: "/projects/bhf",
    hero: {
      src: BHFHero,
      alt: "",
    },

    features: [
      {
        section: "About",
        featured: 1,
        title: "BHF - Premier Home Goods",
        description:
          "BHF is a leading global provider of innovative, high-quality home goods. Founded over 50 years ago in NYC, this multi-million dollar company has set industry standards.",
        wordsToHighlight: [
          "leading global provider",
          "innovative",
          "high-quality",
          "founded over 50 years ago",
        ],
      },
      {
        section: "About",
        featured: 2,
        title: "Partnerships with Top Brands",
        description:
          "BHF collaborates with renowned brands like UGG and Pendleton, ensuring top-notch innovation and quality in every product they offer.",
        wordsToHighlight: [
          "collaborates with renowned brands",
          "UGG",
          "Pendleton",
          "innovation and quality",
        ],
      },
      {
        section: "Features",
        featured: 1,
        title: "Automated Purchase Orders",
        description:
          "Our Purchase Orders module automates and streamlines tedious tasks, significantly contributing to the generation of millions in monthly revenue.",
        wordsToHighlight: [
          "automates",
          "streamlines tedious tasks",
          "generation of millions",
          "monthly revenue",
        ],
      },
      {
        section: "Features",
        featured: 2,
        title: "Efficient Invoicing",
        description:
          "The Invoices module automates billing from generation to tracking, saving time and ensuring accurate, timely payments that maintain strong cash flow.",
        wordsToHighlight: [
          "automates billing",
          "generation to tracking",
          "accurate payments",
          "strong cash flow",
        ],
      },
      {
        section: "Features",
        featured: 3,
        title: "Comprehensive Design System",
        description:
          "Our design system, built in Figma and implemented in React, unifies and standardizes product development, enhancing consistency and efficiency.",
        wordsToHighlight: [
          "built in Figma",
          "implemented in React",
          "unifies",
          "standardizes",
        ],
      },
      {
        section: "More",
        featured: 1,
        title: "CheckIn/Out Samples Mobile App",
        description:
          "Our mobile app checks in and out thousands of samples daily, keeping everything organized so sales managers always know where to find samples, reducing losses.",
        wordsToHighlight: [
          "checks in and out",
          "thousands of samples",
          "keeping organized",
          "reducing losses",
        ],
      },
      {
        section: "More",
        featured: 2,
        title: "Custom Dashboards",
        description:
          "Our personalized dashboards are built from the ground up, providing a unified and standardized view of your business metrics and enhancing decision-making.",
        wordsToHighlight: [
          "personalized dashboards",
          "built from the ground up",
          "unified view",
          "enhancing decision-making",
        ],
      },
      {
        section: "More",
        featured: 3,
        title: "Factories Management Portal",
        description:
          "Our Factories Portal is developed from the ground up, unifying and standardizing the management process, enhancing efficiency across all operations.",
        wordsToHighlight: [
          "Factories Portal",
          "from the ground up",
          "unifying",
          "enhancing efficiency",
        ],
      },
      // {
      //   section: "More",
      //   featured: 4,
      //   title: "Seamless Docusign Integration",
      //   description:
      //     "Our Docusign Integration, built from the ground up, unifies and standardizes document handling, ensuring smooth and secure transactions.",
      //   wordsToHighlight: [
      //     "Docusign Integration",
      //     "unifies",
      //     "standardizes",
      //     "smooth transactions",
      //   ],
      // },
    ],
    roles: [
      "chief-architect",
      "manager",
      "fullstack",
      "database-admin",
      "uiux",
      "frontend",
      "backend",
      "project-manager",
      "prototyper",
    ],
    tools: [
      "react",
      "tailwind",
      "typescript",
      "figma",
      "nextjs",
      "c",
      "sqlserver",
      "js",
      "docker",
      "swagger",
      "filemaker",
    ],
    featured: 1,
  },
  {
    visible: "Repo",
    title: "GigsTrax SaaS",
    client: "Real Beard Santas",
    description:
      "Gigstrax is a SaaS which revolutionizes event management with its all-in-one platform, seamlessly coordinating scheduling, invoicing, and communication.  ",

    wordsToHighlight: [
      "revolutionizes event management",
      "seamlessly coordinating scheduling, invoicing, and communication",
    ],

    homepageUrl: "https://andretru2.github.io/",
    repoUrl: "https://github.com/andretru2/gigstrax",
    caseStudyUrl: "https://github.com/andretru2/gigstrax",
    hero: {
      src: GigsTraxHero,
      alt: "",
    },

    features: [
      {
        section: "About",
        featured: 1,
        title: "Real Beard Santas",
        description:
          "Largest supplier of professionally trained Real Beard Santas from Boston to DC. Specializing in corporate events, public ceremonies, and private parties.",
        wordsToHighlight: [
          "largest supplier",
          "professionally trained",
          "Real Beard Santas",
          "corporate events",
        ],
      },
      {
        section: "About",
        featured: 2,
        title: "Top Entertainers in NYC Area",
        description:
          "Leading entertainment companies call on these Santas for TV shows, commercials, and live events. They have performed in Broadway shows, Carnegie Hall, and national tours.",
        wordsToHighlight: [
          "leading entertainment companies",
          "TV shows",
          "commercials",
          "Broadway shows",
          "Carnegie Hall",
        ],
      },
      {
        section: "Features",
        featured: 1,
        title: "Efficient Scheduling",
        description:
          "Our scheduling feature automates and streamlines event planning, ensuring every Santa is perfectly timed for your needs.",
        wordsToHighlight: [
          "automates",
          "streamlines",
          "event planning",
          "perfectly timed",
        ],
      },
      {
        section: "Features",
        featured: 2,
        title: "Effective Communication",
        description:
          "Facilitates seamless communication between clients and Santas, ensuring all details are accurately conveyed and promptly addressed.",
        wordsToHighlight: [
          "seamless communication",
          "clients and Santas",
          "accurately conveyed",
          "promptly addressed",
        ],
      },
      {
        section: "Features",
        featured: 3,
        title: "Comprehensive Booking Forms",
        description:
          "Our booking forms capture all necessary details, simplifying the process for clients and ensuring no important information is missed.",
        wordsToHighlight: [
          "booking forms",
          "necessary details",
          "simplifying the process",
          "important information",
        ],
      },
      {
        section: "More",
        featured: 1,
        title: "Detailed Event List",
        description:
          "Provides a clear and organized view of all scheduled events, helping Santas and clients stay on top of their commitments.",
        wordsToHighlight: [
          "event list",
          "clear and organized",
          "scheduled events",
          "stay on top",
        ],
      },
      {
        section: "More",
        featured: 2,
        title: "Streamlined Contracts",
        description:
          "Standardizes agreements, ensuring all terms are clearly defined and agreed upon, reducing misunderstandings.",
        wordsToHighlight: [
          "contracts feature",
          "standardizes agreements",
          "clearly defined",
          "reducing misunderstandings",
        ],
      },
      {
        section: "More",
        featured: 3,
        title: "Invoicing System",
        description:
          "Our invoicing system, built from the ground up, unifies and standardizes billing processes, ensuring accurate and timely payments.",
        wordsToHighlight: [
          "invoicing system",
          "built from the ground up",
          "unifies",
          "standardizes billing",
          "accurate payments",
        ],
      },
    ],

    roles: [
      "chief-architect",
      "manager",
      "fullstack",
      "database-admin",
      "uiux",
      "frontend",
      "backend",
      "project-manager",
      "prototyper",
    ],
    tools: [
      "threejs",
      "react",
      "tailwind",
      "typescript",
      "figma",
      "nextjs",
      "c",
      "sqlserver",
      "js",
      "filemaker",
    ],
    featured: 2,
  },
  {
    visible: false,
    title: "Diverse Innovations",
    client: "Andres Trujillo",
    description:
      "Highlighting my versatility, these freelance and other projects span various industries, showcasing my ability to deliver impactful solutions across different domains.  ",

    wordsToHighlight: ["", ""],

    homepageUrl: "https://andretru2.github.io/",
    repoUrl: "",
    caseStudyUrl: "",
    hero: {
      src: OtherProjects,
      alt: "",
    },
    features: [
      {
        section: "About",
        featured: 1,
        title: "Andres Trujillo - App Developer",
        description:
          "I've created over 100 apps, ranging from small to large. My journey in app development is just beginning, with many more innovative projects ahead!",
        wordsToHighlight: [
          "created over 100 apps",
          "small to large",
          "app development",
          "innovative projects",
        ],
      },
      {
        section: "About",
        featured: 2,
        title: "My Personal Favorites!",
        description:
          "I developed several apps for daily life, including a restaurant/dish tracker, a music rater and many more!",
        wordsToHighlight: [
          "developed apps",
          "daily life",
          "restaurant tracker",
          "culinary experiences",
        ],
      },
      {
        section: "Features",
        featured: 1,
        title: "LeRestaurateur - Dish Tracker",
        description:
          "A personal app to track and rate all the dishes I've tried, helping me make informed decisions on future meals.",
        wordsToHighlight: [
          "track and rate",
          "dishes",
          "make informed decisions",
          "future meals",
        ],
      },
      {
        section: "Features",
        featured: 2,
        title: "Music Is My Life - Album Rater",
        description:
          "As a huge music fan, this app lets me rate all the albums and artists I've listened to and keep a wishlist.",
        wordsToHighlight: [
          "huge music fan",
          "rate albums",
          "artists",
          "wishlist",
        ],
      },
      {
        section: "Features",
        featured: 3,
        title: "Hiring Enforcement Call Center",
        description:
          "An app to streamline the hiring process, ensuring efficient communication and management of potential candidates.",
        wordsToHighlight: [
          "streamline hiring",
          "efficient communication",
          "management",
          "candidates",
        ],
      },
      {
        section: "More",
        featured: 1,
        title: "Check Management System",
        description:
          "Created a robust solution to optimize check processing, reconciliation, and reporting, resulting in significant time savings and increased accuracy..",
        wordsToHighlight: [
          "manage and organize",
          "checks",
          "accurate processing",
          "business use",
        ],
      },
      {
        section: "More",
        featured: 2,
        title: "Senior Placement App",
        description:
          "An app designed to assist in finding the best senior living options, simplifying the placement process.",
        wordsToHighlight: [
          "assist",
          "senior living options",
          "simplifying",
          "placement process",
        ],
      },
      {
        section: "More",
        featured: 3,
        title: "Portfolios & Websites",
        description:
          "Built multiple websites and portfolios to showcase projects and professional work.",
        wordsToHighlight: [
          "websites",
          "portfolios",
          "showcase projects",
          "professional work",
        ],
      },
    ],

    roles: [
      "chief-architect",
      "manager",
      "fullstack",
      "database-admin",
      "uiux",
      "frontend",
      "backend",
      "project-manager",
      "prototyper",
    ],
    tools: [
      "threejs",
      "react",
      "tailwind",
      "typescript",
      "figma",
      "nextjs",
      "c",
      "sqlserver",
      "js",
      "filemaker",
    ],
    featured: 3,
  },
];
---

<Section
  idName="projects"
  title="Featured Projects"
  backgroundColor="bgColor"
  margin="bottom"
  className=" flex  flex-col justify-center items-center  relative "
>
  <div
    class="absolute inset-auto top-28 z-50 h-36 w-[28rem] -translate-y-1/2 rounded-full bg-accent/30 opacity-50 blur-3xl"
  >
  </div>
  <div
    class="w-2/4 h-2/4 absolute bg-bgColor/30 top-36 left-12 z-0 bg-dotted"
  >
  </div>
  <div class="flex flex-col gap-7xl sm:gap-64">
    {projects.map((project) => <Project {...project} />)}
  </div>
</Section>
