@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Averta;
  src: url("/fonts/AvertaRegular") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: AvertaBold;
  src: url("/fonts/AvertaBold") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --font-sans: Averta, sans-serif;
    --font-heading: AvertaBold, sans-serif;

    color-scheme: light;
    --theme-bg: 0 0% 98%;
    --theme-link: 356 100% 67%;
    --theme-text: 228 24% 8%;
    --theme-accent: 152 51% 29%;
    --theme-accent-2: 152 40% 44%;
    --theme-quote: 0 0% 79%;
  }

  :root.dark {
    color-scheme: dark;
    --theme-bg: 228 24% 8%;
    --theme-link: 356 100% 67%;
    --theme-text: 0 0% 99%;
    --theme-accent: 152 51% 29%;
    --theme-accent-2: 240 0% 52%;
    --theme-quote: 211 43% 38%;
  }
}

@layer base {
  body {
    @apply scroll-smooth  min-h-screen flex-col bg-bgColor  font-sans  text-lg font-normal text-textColor antialiased;
  }

  h1 {
    @apply scroll-m-20 font-extrabold tracking-tight  font-heading  fluid:text-8xl;
  }

  h2 {
    @apply scroll-m-20 font-bold tracking-tight  font-heading fluid:text-5xl;
  }

  h3 {
    @apply scroll-m-20 font-semibold tracking-tight font-heading fluid:text-4xl;
  }

  h4 {
    @apply scroll-m-20  font-semibold tracking-tight font-heading fluid:text-xl;
  }

  p {
    @apply prose prose-xl max-w-3xl text-textColor;
  }

  blockquote {
    @apply border-l-2 pl-6 italic text-textColor;
  }

  /* section{
   @apply py-[calc(var(--spacing-xl)*1rem)];
 } */
}

@layer components {
  button {
    @apply flex flex-row text-black items-center justify-center px-l py-m font-medium leading-none  transition no-underline;
  }

  .button-primary {
    @apply bg-accent  hover:brightness-75;
  }

  .button-outline {
    @apply bg-none border-accent border-2 hover:brightness-75 text-textColor;
  }

  .button-sm {
    @apply px-m py-s;
  }
  .button-xs {
    @apply px-s py-xs;
  }
}
