@import "https://unpkg.com/open-props/durations.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Averta;
  src: url("/fonts/AvertaRegular") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: AvertaBold;
  src: url("/fonts/AvertaBold") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@keyframes liner {
  50% {
    --lines: 0.00012px;
  }
}

@layer base {
  :root {
    --font-sans: Averta, sans-serif;
    /* --font-sans: Averta, sans-serif; */
    --font-heading: AvertaBold, sans-serif;
    --lines: 0.0001px;
    /* --font-heading: Teko, sans-serif; */

    color-scheme: light;
    --theme-bg: 0 0% 98%;
    --theme-link: 356 100% 67%;
    --theme-text: 228 24% 8%;
    --theme-accent: 133 100% 41%;
    --theme-accent-2: 152 40% 44%;
    --theme-accent-3: 225 8% 20%;
    --theme-quote: 0 0% 79%;

    --color-sky: 192 100% 50%;
    --color-green: 178 100% 45%;
    --color-blue: 234 100% 50%;
    --color-dusk: 267 100% 41%;
    --color-purple: 285 100% 50%;
    --color-pink: 328 100% 50%;
    --color-red: 354 100% 49%;
    --color-orange: 30 100% 49%;
    --color-yellow: 48 100% 50%;
  }

  :root.dark {
    color-scheme: dark;
    --theme-bg: 228 24% 8%;
    --theme-link: 356 100% 67%;
    --theme-text: 0 0% 99%;
    --theme-accent: 133 100% 41%;
    --theme-accent-2: 240 0% 52%;
    --theme-accent-3: 225 8% 20%;
    --theme-quote: 211 43% 38%;
  }
}

@layer base {
  body {
    @apply h-full w-full overflow-x-hidden  bg-bgColor  font-sans  text-lg font-normal text-textColor antialiased;
  }

  h1 {
    @apply scroll-m-20 font-extrabold tracking-tight font-heading fluid:text-8xl;
  }

  h2 {
    @apply scroll-m-20 font-bold tracking-tight font-heading fluid:text-7xl;
  }

  h3 {
    @apply scroll-m-20 font-semibold tracking-tight font-heading fluid:text-5xl;
  }

  h4 {
    @apply scroll-m-20 font-semibold tracking-tight font-heading fluid:text-4xl;
  }

  h5 {
    @apply scroll-m-20 font-semibold tracking-tight font-heading fluid:text-3xl;
  }

  h6 {
    @apply scroll-m-20 font-semibold tracking-tight font-heading fluid:text-xl;
  }

  p {
    @apply prose prose-lg  text-textColor tracking-wide max-w-2xl;
  }

  blockquote {
    @apply border-l-2 pl-6 italic text-textColor;
  }

  canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
  }

  ::-webkit-scrollbar {
    height: 12px;
    width: 5px;
    background: var(--background);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--accent);
    -webkit-border-radius: 1ex;
  }

  ::-webkit-scrollbar-corner {
    background: var(--background);
  }

  /* section{
   @apply py-[calc(var(--spacing-xl)*1rem)];
 } */
}

@layer components {
  button {
    @apply flex flex-row text-black items-center justify-center px-l py-m font-medium leading-none  transition no-underline;
  }

  .button-primary {
    @apply bg-accent  hover:brightness-90;
  }

  .button-outline {
    @apply bg-none border-accent border-2 hover:brightness-75 text-textColor;
  }

  .button-sm {
    @apply px-m py-s;
  }
  .button-xs {
    @apply px-s py-xs;
  }

  .glow {
    @apply relative;
  }
  .glow:hover {
    @apply animate-glow;
  }
  .glow:after {
    @apply absolute -bottom-2 rounded-lg  bg-[200%_100%] left-0 h-1.5 w-full bg-gradient-to-r from-transparent  via-accent/70 to-accent   origin-bottom-left content-[""];
  }

  .card {
    @apply flex items-center bg-accent-3 backdrop-blur-sm justify-center h-full  rounded-2xl p-m  stroke-[0.1] hover:stroke-[0.15];
  }
  .card-2 {
    @apply bg-neutral-800 rounded-lg border border-neutral-600 flex flex-row p-8 absolute justify-between stroke-[0.1] hover:stroke-[0.15] dark:shadow-white/30 shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),0px_1px_0px_0px_rgba(25,28,33,0.02),0px_0px_0px_1px_rgba(25,28,33,0.08)];
  }

  .panel {
    @apply border border-accent-3/80 bg-gradient-to-tr from-white/10 to-accent-2/70 shadow-xl;
  }

  .planet:before {
    content: "";
    display: block;
    position: fixed;
    width: 1500px;
    aspect-ratio: 1;
    left: 100%;
    top: 50%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    background-image: radial-gradient(
      at 50% 50% in oklch,
      color-mix(in oklch, skyblue, blue 80%),
      color-mix(in oklch, skyblue, blue 10%) 19%,
      color-mix(in oklch, skyblue, blue 20%) 20%,
      color-mix(in oklch, skyblue, blue 80%),
      color-mix(in oklch, blue, black 50%) 55%,
      transparent 70%
    );
  }

  .noise {
    @supports (
      background: linear-gradient(in oklch, #000, #000)
    ) {
      --space: in oklch;
      --hour: 1200s;
    }

    animation: liner var(--hour) linear infinite;
    mask: repeating-radial-gradient(
      circle at center,
      #000,
      var(--lines),
      #000,
      0,
      #0000,
      calc(var(--lines) * 2),
      #0000 0
    );

    /* background-image: linear-gradient(
      to right var(--space),
      deeppink,
      blue
    ); */

    background-image: linear-gradient(
      to right var(--space),
      /* #f7d3c4 */ var(--green-500),
      #f7f3f3
    ); /* Updated colors */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
