@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Averta;
  src: url("/fonts/AvertaRegular") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: AvertaBold;
  src: url("/fonts/AvertaBold") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --font-sans: Averta, sans-serif;
    --font-heading: AvertaBold, sans-serif;

    color-scheme: light;
    --theme-bg: 0 0% 98%;
    --theme-link: 356 100% 67%;
    --theme-text: 228 24% 8%;
    --theme-accent: 133 100% 41%;
    --theme-accent-2: 152 40% 44%;
    --theme-quote: 0 0% 79%;
  }

  :root.dark {
    color-scheme: dark;
    --theme-bg: 228 24% 8%;
    --theme-link: 356 100% 67%;
    --theme-text: 0 0% 99%;
    --theme-accent: 133 100% 41%;
    --theme-accent-2: 240 0% 52%;
    --theme-quote: 211 43% 38%;
  }
}

@layer base {
  body {
    @apply h-full w-full overflow-x-hidden  bg-bgColor  font-sans  text-lg font-normal text-textColor antialiased;
  }

  h1 {
    @apply scroll-m-20 font-extrabold tracking-tight  font-heading  fluid:text-8xl;
  }

  h2 {
    @apply scroll-m-20 font-bold tracking-tight  font-heading fluid:text-5xl;
  }

  h3 {
    @apply scroll-m-20 font-semibold tracking-tight font-heading fluid:text-4xl;
  }

  h4 {
    @apply scroll-m-20  font-semibold tracking-tight font-heading fluid:text-xl;
  }

  p {
    @apply prose prose-xl prose-rose text-textColor max-w-3xl;
  }

  blockquote {
    @apply border-l-2 pl-6 italic text-textColor;
  }

  /* section{
   @apply py-[calc(var(--spacing-xl)*1rem)];
 } */
}

@layer components {
  button {
    @apply flex flex-row text-black items-center justify-center px-l py-m font-medium leading-none  transition no-underline;
  }

  .button-primary {
    @apply bg-accent  hover:brightness-75;
  }

  .button-outline {
    @apply bg-none border-accent border-2 hover:brightness-75 text-textColor;
  }

  .button-sm {
    @apply px-m py-s;
  }
  .button-xs {
    @apply px-s py-xs;
  }

  .glow {
    @apply relative;
  }
  .glow:hover {
    @apply animate-glow;
  }
  .glow:after {
    @apply absolute -bottom-2 rounded-lg  bg-[200%_100%] left-0 h-1.5 w-full bg-gradient-to-r from-transparent  via-accent/70 to-accent   origin-bottom-left content-[""];
  }

  .card {
    @apply flex items-center bg-[#121212] justify-center h-full  dark:shadow-white/40 rounded-3xl p-m shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),0px_1px_0px_0px_rgba(25,28,33,0.02),0px_0px_0px_1px_rgba(25,28,33,0.08)];
  }
}
