---
import type { Project } from "@/types";
import { Roles } from "./roles";
import Hero from "./hero.astro";
import Tools from "./tools.astro";
import GoToProject from "./go-to-project.astro";
import { Aurora } from "./aurora";
import Header from "./header.astro";

interface Props {
  project: Project;
}

const { project } = Astro.props as Props;

// console.log(project.description());
---

<article
  class="grid grid-cols-12 w-full gap-m max-h-[800px]"
>
  <Header {...project} class="col-span-12" />

  <Aurora
    className="col-span-10  card p-0 *:rounded-3xl row-span-4 "
  >
    <Hero {...project} />
  </Aurora>

  <!-- <Roles
    roles={project.roles}
    className="col-span-2 card row-span-1 overflow-hidden"
    client:load
  /> -->

  <div class="col-span-2 relative card row-span-3">
    <Tools tools={project.tools} class="w-full h-full" />

    <div
      class="absolute z-100 bottom-0 right-0 p-m rounded-2xl border-accent border-2 flex items-center justify-center"
    >
      <GoToProject
        caseStudyUrl={project.caseStudyUrl}
        class=""
      />
    </div>
  </div>
</article>
