---
import type { Project } from "@/types";
import Roles from "./roles.astro";
import Hero from "./hero.astro";

interface Props {
  project: Project;
}

const { project } = Astro.props as Props;
---

<article
  class="grid grid-cols-12 w-full h-full max-h-[800px] grid-rows-2 overflow-visible gap-m"
>
  <div class="col-span-10 row-span-2">
    <Hero {...project} />
  </div>
  <div class="col-span-2 card bg-dotted-light">
    <Roles roles={project.roles} />
  </div>
  <div class="col-span-2 card">
    <Roles roles={project.tools} />
  </div>
</article>
