---
import { type Role } from "@/types";
import { Roles as RolesMap } from "@/config/project-schema";
import { motion } from "framer-motion";

interface Props {
  roles: Role;
  class?: string;
}

const { roles, class: className } = Astro.props as Props;
---

{
  roles.length > 0 && (
    <motion.div
      class:list={[
        " flex flex-col justify-center align-center  gap-s  ",
        className,
      ]}
    >
      {roles.slice(0, 3).map((role) => (
        <span class="p-s bg-accent-2/30 text-white rounded-xl px-m py-2">
          {RolesMap.get(role) || role}
        </span>
      ))}
    </motion.div>
  )
}
