---
import { type ProjectHero } from "@/types";
import { Image } from "astro:assets";

const { image, images, homepageUrl, features } =
  Astro.props as ProjectHero;
---

<div
  class:list={[
    "grid grid-cols-10 p-m gap-xl  h-full   card bg-gradient-to-bl gradient  ",
  ]}
>
  <Image
    src={image}
    alt="hero-img"
    class="col-span-7 object-cover h-full rounded-2xl max-h-[800px] overflow-hidden"
    width={1024}
    height={768}
    format="webp"
  />

  <!-- <style
    define:vars={{ coverGradientFrom, coverGradientTo }}
  >
    .gradient {
      background: linear-gradient(
        180deg,
        var(--coverGradientFrom),
        var(--coverGradientTo)
      );
    }
  </style>
</div> -->
</div>
