---
import { type ProjectHero } from "@/types";
import { Image } from "astro:assets";

interface Props {
  title?: string;
  media?: string;
  class?: string;
}

const {
  title,
  media,
  class: className,
} = Astro.props as Props;
---

<div class:list={["flex  pl-m  card     ", className]}>
  Placeholder
  <!-- <Image
    src={image}
    alt="hero-img"
    class="col-span-7 object-cover h-full rounded-2xl max-h-[800px] overflow-hidden"
    width={1024}
    height={768}
    format="webp"
  /> -->

  <!-- <style
    define:vars={{ coverGradientFrom, coverGradientTo }}
  >
    .gradient {
      background: linear-gradient(
        180deg,
        var(--coverGradientFrom),
        var(--coverGradientTo)
      );
    }
  </style>
</div> -->
</div>
