---
import Card from "@/components/ui/card.astro";
import { ProgressBar } from "@/components/ui/progress-bar";
import { ProjectFeatures } from "./project-features";
import ProjectTools from "./project-tools.astro";
import type { Project } from "@/types";

interface Props
  extends Pick<
    Project,
    "features" | "caseStudyUrl" | "tools" | "visible"
  > {
  reversed?: boolean;
}

const { features, caseStudyUrl, reversed, tools, visible } =
  Astro.props as Props;
---

<Card
  class="relative col-span-4 row-span-5 p-l flex flex-col gap-2xl"
>
  <div class="flex flex-row gap-m">
    <ProgressBar header="About" client:visible />
    <ProgressBar
      header="Features"
      delay={10}
      client:visible
    />
    <ProgressBar
      header="+More!"
      delay={20}
      client:visible
    />
  </div>
  <ProjectFeatures features={features} client:visible />
</Card>

<Card
  class:list={[
    reversed && "row-start-6 col-start-3",
    "relative col-span-2 row-span-3  max-h-max h-full overflow-hidden",
  ]}
>
  <ProjectTools toolKeys={tools} />
</Card>
<Card
  class:list={[
    reversed && "row-start-6  ",
    "relative  col-span-2 row-span-3 p-l bg-accent hover:bg-accent/80 ",
  ]}
>
  <!-- <Background backgroundType="aurora" /> -->

  <a
    href={caseStudyUrl}
    transition:animate="slide"
    class:list={[
      "text-bgColor col-span-1 row-span-6  h-full w-full flex flex-col justify-center gap-s items-center",
      !visible && "cursor-not-allowed ",
    ]}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-7 animate-spin"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
    </svg>
    <h6
      class="flex text-center justify-center items-center font-medium"
    >
      {visible ? "View Case Study" : "Under Development"}
    </h6>
  </a>
</Card>
