---
import Card from "@/components/ui/card.astro";
import type { Project } from "@/types";

const { hero } = Astro.props as Pick<Project, "hero">;
---

<Card
  class="relative col-span-8 row-span-8 flex items-center justify-center"
>
  <video
    autoplay
    loop
    class="h-full w-full object-cover aspect-video rounded-xl"
  >
    <source src={hero.src} type="video/mp4" />
    <p>{hero.alt}</p>
  </video>
</Card>
