---
import Card from "@/components/ui/card.astro";
import { ProgressBar } from "@/components/ui/progress-bar";
import { ProjectFeatures } from "./project-features";
import ProjectTools from "./project-tools.astro";
import type { Project } from "@/types";

interface Props
  extends Pick<
    Project,
    "features" | "caseStudyUrl" | "tools" | "visible"
  > {
  reversed?: boolean;
}

const { features, caseStudyUrl, reversed, tools, visible } =
  Astro.props as Props;
---

<Card
  class="relative row-span-4 sm:row-span-5 col-span-12 sm:col-span-4 p-l flex flex-col gap-xl sm:gap-2xl"
>
  <div class="hidden sm:flex flex-row gap-xs">
    <ProgressBar header="About" client:visible />
    <ProgressBar
      header="Features"
      delay={10}
      client:visible
    />
    <ProgressBar
      header="+More!"
      delay={20}
      client:visible
    />
  </div>
  <ProjectFeatures features={features} client:visible />
</Card>

<Card
  class:list={[
    reversed && "sm:row-start-6 sm:col-start-3",
    "relative row-span-2 sm:row-span-3 col-span-6  sm:col-span-2   max-h-max h-full overflow-hidden",
  ]}
>
  <ProjectTools toolKeys={tools} />
</Card>
<Card
  useAccent
  class:list={[
    reversed && "sm:row-start-6  ",
    "relative  row-span-2 sm:row-span-3 col-span-6  sm:col-span-2 p-l  after:hover:bg-accent/80 after:transition-all  ",
  ]}
>
  <!-- <Background backgroundType="aurora" /> -->

  <a
    href={caseStudyUrl}
    target={visible === "Repo" ? "_blank" : ""}
    transition:animate="slide"
    class:list={[
      "text-bgColor  h-full w-full flex flex-col justify-center gap-s items-center",
      !visible && "cursor-not-allowed ",
    ]}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-7 animate-spin"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
    </svg>
    <span
      class="flex text-center justify-center items-center font-medium"
    >
      {
        visible === "Repo"
          ? "View Repo"
          : visible === "Case Study"
            ? "View Case Study"
            : "Under Development"
      }
    </span>
  </a>
</Card>
