---
import { type Role } from "@/types";

interface Props {
  roles: Role;
  class?: string;
}

const { roles, class: className } = Astro.props as Props;
---

{
  roles.length > 0 && (
    <div class={className}>
      {roles.map((role) => (
        <h4 class="p-1">{role}</h4>
      ))}
    </div>
  )
}
