---
import { type Tool } from "@/types";

interface Props {
  tools: Tool;
  class?: string;
}

const { tools, class: className } = Astro.props as Props;
---

{
  tools.length > 0 && (
    <div class:list={[className]}>
      {tools.map((tool) => (
        <span class="p-s">{tool}</span>
      ))}
      <slot />
    </div>
  )
}
