---
import Layout from "./layout.astro";
import "@/styles/globals.css";
import { Icon } from "astro-icon/components";
import { Projects as ProjectsOld } from "./_components/project/project";
import About from "./_components/about.astro";
import Hero from "./_components/hero.astro";
import Projects from "./_components/projects.astro";
import Background from "@/components/ui/background.astro";

export const prerender = true;
---

<Layout title="Andres Trujillo">
  <Hero />
  <Projects />
  <About />

  <section
    id="hero"
    class="col-span-12 flex flex-col items-center justify-center gap-s bg-dotted"
  >
    <div class="size-2 flex flex-row">
      <!-- //need to have these load first otherwise they dont show on the nav for whatever reason -->

      <Icon name="astro" class="text-red-500" />
      <Icon name="figma" class="text-red-500" />
      <Icon name="moon" class="text-red-500" />
      <Icon name="github" class="text-red-500" />
      <Icon name="linkedin" class="text-red-500" />
      <Icon name="nextjs" class="text-red-500" />
      <Icon name="react" class="text-red-500" />
      <Icon name="tailwind" class="text-red-500" />
      <Icon name="typescript" class="text-red-500" />
      <Icon name="c" class="text-red-500" />
      <Icon name="tailwind" class="text-red-500" />
      <Icon name="twitter" class="text-red-500" />
      <Icon name="top-right-arrow" class="text-red-500" />
      <Icon name="threejs" class="text-red-500" />
    </div>
    <!-- <h1 class="">
      Welcome to <span class="text-textColor">Astro</span>
    </h1>
    <h2 class="">
      Welcome to <span class="text-accent">Astro</span>
    </h2>
    <h3>
      Welcome to <span class="text-accent-2">Astro</span>
    </h3>
    <h4>
      Welcome to <span class="text-quote">Astro</span>
    </h4>
    <p>Welcome to <span class="text-link">Astro</span></p>
    <p>
      Welcome to <span class="text-bgColor">Astro</span>
    </p>
    <button> base button</button>
    <button class="button button-primary">
      primary button
    </button>
    <button class="button button-outline">
      outline button
    </button>
    <button class="button button-sm button-primary">
      button sm</button
    >
    <button class="button button-xs button-outline">
      button xs</button
    > -->
  </section>
</Layout>
