---
import Layout from "./layout.astro";
import "@/styles/globals.css";
import { Icon } from "astro-icon/components";
import { projects } from "@/config/site";
import ProjectsContainer from "./_components/project/container.astro";

export const prerender = true;
---

<Layout title="Andres Trujillo">
  <section
    id="projects"
    class="col-span-12 flex min-h-svh justify-center items-center w-full mt-12 bg-dotted"
  >
    {
      projects.map((project) => (
        <ProjectsContainer project={project} />
      ))
    }
  </section>
  <section
    id="hero"
    class="col-span-12 flex flex-col items-center justify-center min-h-svh gap-s bg-dotted"
  >
    <div class="size-2 flex flex-row">
      <!-- //need to have these load first otherwise they dont show on the nav for whatever reason -->

      <Icon name="astro" class="text-red-500" />
      <Icon name="figma" class="text-red-500" />
      <Icon name="moon" class="text-red-500" />
      <Icon name="github" class="text-red-500" />
      <Icon name="linkedin" class="text-red-500" />
      <Icon name="nextjs" class="text-red-500" />
      <Icon name="react" class="text-red-500" />
      <Icon name="tailwind" class="text-red-500" />
      <Icon name="twitter" class="text-red-500" />
      <Icon name="top-right-arrow" class="text-red-500" />
    </div>
    <h1 class="">
      Welcome to <span class="text-textColor">Astro</span>
    </h1>
    <h2 class="">
      Welcome to <span class="text-accent">Astro</span>
    </h2>
    <h3>
      Welcome to <span class="text-accent-2">Astro</span>
    </h3>
    <h4>
      Welcome to <span class="text-quote">Astro</span>
    </h4>
    <p>Welcome to <span class="text-link">Astro</span></p>
    <p>
      Welcome to <span class="text-bgColor">Astro</span>
    </p>
    <button> base button</button>
    <button class="button button-primary">
      primary button
    </button>
    <button class="button button-outline">
      outline button
    </button>
    <button class="button button-sm button-primary">
      button sm</button
    >
    <button class="button button-xs button-outline">
      button xs</button
    >
  </section>

  <section
    class="text-center bg-blue-600 text-white grid place-items-center h-full"
  >
    <div class="px-4 mx-auto grid gap-6">
      <h1 class="fluid:text-7xl font-black">
        Tailwind fluid
      </h1>
      <p class="fluid:text-2xl">
        Make Tailwind CSS automatically responsive with
        fluid utility classes.
      </p>
    </div>
  </section>
  <section class="text-center fluid:py-2xl">
    <div class="px-4 grid gap-6">
      <h2 class="fluid:text-7xl font-black">
        Fluid typography and spacing
      </h2>
      <p class="fluid:text-2xl">
        The font size of this content will rescale to the
        available width. Note titles are rescaled more
        aggressive than smaller text. Also the padding of
        this section automatically adjusts.
      </p>
    </div>
  </section>
  <section class="text-center bg-gray-200 fluid:py-2xl">
    <div class="w-full px-4 mx-auto grid fluid:gap-8">
      <h2 class="fluid:text-7xl font-black">
        Grid gap example
      </h2>
      <div
        class="grid md:grid-cols-2 md:grid-rows-2 fluid:gap-12"
      >
        <img
          src="https://picsum.photos/480/752"
          alt=""
          class="w-full h-full object-cover shadow-lg rounded-2xl row-span-2"
        />
        <img
          src="https://picsum.photos/480/400"
          alt=""
          class="w-full h-full object-cover shadow-lg rounded-2xl"
        />
        <img
          src="https://picsum.photos/480/320"
          alt=""
          class="w-full h-full object-cover shadow-lg rounded-2xl"
        />
      </div>
    </div>
  </section>
</Layout>
