---
// import ThemeToggle from "@/components/theme-toggle.astro";
import Layout from "./layout.astro";
import "@/styles/globals.css";
---

<Layout title="Andres Trujillo">
  <section id="hero"></section>
  <slot name="hero" />
  <slot name="section1" />
  <slot name="section2" />
  <slot name="section3" />

  <div class="flex flex-col items-center justify-center">
    <h1 class="">
      Welcome to <span class="text-textColor">Astro</span>
    </h1>
    <h2 class="">
      Welcome to <span class="text-accent">Astro</span>
    </h2>
    <h3>
      Welcome to <span class="text-accent-2">Astro</span>
    </h3>
    <h4>
      Welcome to <span class="text-quote">Astro</span>
    </h4>
    <p>Welcome to <span class="text-link">Astro</span></p>
    <p>
      Welcome to <span class="text-bgColor">Astro</span>
    </p>

    <!-- <ThemeToggle /> -->
  </div>

  <section
    class="text-center bg-blue-600 text-white grid min-h-screen place-items-center"
  >
    <div class="max-w-3xl px-4 mx-auto grid gap-6">
      <h1 class="fluid:text-7xl font-black">
        Tailwind fluid
      </h1>
      <p class="fluid:text-2xl">
        Make Tailwind CSS automatically responsive with
        fluid utility classes.
      </p>
    </div>
  </section>
  <section class="text-center fluid:py-2xl">
    <div class="max-w-3xl px-4 mx-auto grid gap-6">
      <h2 class="fluid:text-7xl font-black">
        Fluid typography and spacing
      </h2>
      <p class="fluid:text-2xl">
        The font size of this content will rescale to the
        available width. Note titles are rescaled more
        aggressive than smaller text. Also the padding of
        this section automatically adjusts.
      </p>
    </div>
  </section>
  <section class="text-center bg-gray-200">
    <div class="max-w-5xl px-4 mx-auto grid fluid:gap-8">
      <h2 class="fluid:text-7xl font-black">
        Grid gap example
      </h2>
      <div
        class="grid md:grid-cols-2 md:grid-rows-2 fluid:gap-12"
      >
        <img
          src="https://picsum.photos/480/752"
          alt=""
          class="w-full h-full object-cover shadow-lg rounded-2xl row-span-2"
        />
        <img
          src="https://picsum.photos/480/400"
          alt=""
          class="w-full h-full object-cover shadow-lg rounded-2xl"
        />
        <img
          src="https://picsum.photos/480/320"
          alt=""
          class="w-full h-full object-cover shadow-lg rounded-2xl"
        />
      </div>
    </div>
  </section>
</Layout>
