---
import BaseHead, {
  type Props as HeadProps,
} from "@/components/base-head.astro";
//
import SkipLink from "@/components/skip-link.astro";
export type Props = HeadProps;
import Header from "@/components/header.astro";
import HeaderNav from "@/components/header-nav.astro";
// import ThemeProvider from "@/components/theme-provider";
// import ThemeProvider from "@/components/theme-provider.astro";

const { ...head } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...head} />
  </head>
  <body class="">
    <SkipLink />
    <Header />
    <main
      id="main"
      class="relative z-10 flex flex-1 flex-col"
    >
      <slot />
    </main>

    <hr class="border-astro-gray-500" />

    <!-- <Footer /> -->
    <!-- <ThemeProvider /> -->
    <slot />
  </body>
</html>
