---
import BaseHead, {
  type Props as HeadProps,
} from "@/components/base-head.astro";
import SkipLink from "@/components/ui/skip-link.astro";
import Header from "@/components/ui/header.astro";
import Footer from "@/components/ui/footer.astro";
import { ViewTransitions } from "astro:transitions";

export type Props = HeadProps;

const { ...head } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...head} />
    <script>
      if (localStorage.theme === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>
    <ViewTransitions />
  </head>
  <body class="">
    <SkipLink />
    <Header />
    <main
      id="main"
      class="relative z-10 flex flex-col gap-l"
    >
      <slot />
    </main>
    <Footer />
    <!-- <ThemeProvider /> -->
    <!-- <slot /> -->
  </body>
</html>
