---
import ContactForm from '@/components/ContactForm';
---

<section
  id="contact"
  class="container relative flex min-h-screen flex-col items-center justify-center"
>
  <p class="mb-8 mt-24 text-center font-cursive text-4xl sm:text-6xl">
    Ready to see what Majic can do for <span class="text-gradient">your</span>
     business?
  </p>
  <p class="wax-w-[50ch] mb-32 text-center sm:text-lg">
    Connect with us today and let Majic illuminate the path to online greatness
    and amaze your audience with every click.
  </p>
  <div
    class="min-h-20 flex w-full flex-col justify-evenly overflow-x-hidden rounded-lg bg-light p-16 text-dark-purple max-sm:items-center max-sm:px-8 md:px-24"
  >
    <div>
      <p class="mb-8 font-cursive text-3xl sm:text-4xl">Send us a message</p>
      <p class="max-w-[65ch] sm:text-lg">
        Have questions? Need more information? We would love to hear about your
        business! Reach out today and we’ll respond within 48 hours.
      </p>
    </div>
    <ContactForm client:visible />
  </div>
  <div class="mt-4 flex flex-col items-center sm:flex-row">
    <p class="text-md text-center text-light">
      Rather put a face to a name? <a
        href="https://calendly.com/majicwebdesign/meeting"
        target="_blank"
        class="inline font-medium text-blurple hover:opacity-75"
        ><br class="block sm:hidden" />Schedule a video call</a
      >
    </p>
  </div>
</section>
