---
import { navLinks, socialLinks } from "@/config/site";

import SocialLinks from "./social-links.astro";
// import { Icons } from "./icons";
const url = new URL(Astro.request.url);
---

<a
  href="/"
  data-astro-prefetch
  title="Home"
  data-home-link
  class=""
>
  <!-- <Icons.logo /> -->
  <svg
    width="62"
    height="36"
    viewBox="0 0 62 36"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M12.224 30.864C11.712 30.864 11.264 30.7147 10.88 30.416C10.496 30.1173 10.304 29.4773 10.304 28.496C10.304 28.048 10.464 27.3333 10.784 26.352C11.104 25.3707 11.5307 24.2187 12.064 22.896C12.6187 21.552 13.2373 20.1333 13.92 18.64C14.6027 17.1467 15.3173 15.664 16.064 14.192C16.8107 12.72 17.536 11.3547 18.24 10.096C18.944 8.83733 19.5947 7.77066 20.192 6.896C20.8107 6 21.312 5.40266 21.696 5.104C22.2507 4.69866 22.8053 4.496 23.36 4.496C23.6587 4.496 23.9467 4.528 24.224 4.592C24.5227 4.656 24.768 4.76267 24.96 4.912C25.408 5.18933 25.8027 5.72267 26.144 6.512C26.5067 7.28 26.8267 8.208 27.104 9.296C27.4027 10.384 27.648 11.5573 27.84 12.816C28.0533 14.0533 28.2347 15.28 28.384 16.496C29.1947 16.3893 29.7493 16.336 30.048 16.336C30.688 16.336 31.2533 16.432 31.744 16.624C32.2347 16.7947 32.4907 17.1573 32.512 17.712C32.5547 18.2453 32.384 18.6933 32 19.056C31.6373 19.4187 31.168 19.6853 30.592 19.856C30.336 19.9413 29.7173 20.08 28.736 20.272C28.8 21.36 28.832 22.2773 28.832 23.024C28.832 24.9227 28.7253 26.3947 28.512 27.44C28.32 28.4853 28.064 29.232 27.744 29.68C27.4453 30.128 27.1253 30.3947 26.784 30.48C26.464 30.5867 26.176 30.64 25.92 30.64C25.8987 30.64 25.8773 30.64 25.856 30.64C25.2373 30.64 24.7787 30.48 24.48 30.16C24.2027 29.84 24.064 29.3067 24.064 28.56V26.288C24.064 25.584 24.0533 24.7947 24.032 23.92C24.0107 23.0453 23.968 22.1173 23.904 21.136C22.6453 21.3493 21.3867 21.5627 20.128 21.776C18.8907 21.968 17.824 22.1387 16.928 22.288C16.5227 23.248 16.1707 24.112 15.872 24.88C15.5733 25.6267 15.3707 26.2133 15.264 26.64C14.944 27.6853 14.6453 28.5067 14.368 29.104C14.0907 29.68 13.824 30.0853 13.568 30.32C13.3333 30.576 13.1093 30.7253 12.896 30.768C12.6827 30.832 12.4587 30.864 12.224 30.864ZM18.688 18.352C19.584 18.1387 20.448 17.9467 21.28 17.776C22.112 17.584 22.9013 17.4133 23.648 17.264C23.5413 15.9413 23.4133 14.6507 23.264 13.392C23.1147 12.1333 22.944 11.0133 22.752 10.032C22.1973 11.0987 21.5467 12.3787 20.8 13.872C20.0747 15.344 19.3707 16.8373 18.688 18.352ZM32.2665 10.512C31.2425 10.512 30.4852 10.416 29.9945 10.224C29.5252 10.0107 29.2158 9.76533 29.0665 9.488C28.9385 9.18933 28.8745 8.92267 28.8745 8.688C28.8745 8.38933 29.0452 8.048 29.3865 7.664C29.7278 7.25867 30.3892 6.96 31.3705 6.768C32.3518 6.55467 33.5145 6.36267 34.8585 6.192C36.2025 6 37.6318 5.84 39.1465 5.712C40.6612 5.56267 42.1972 5.43467 43.7545 5.328C45.3118 5.22133 46.7945 5.14667 48.2025 5.104C49.6105 5.04 50.8585 5.008 51.9465 5.008C53.0772 5.008 53.9518 5.072 54.5705 5.2C55.1892 5.328 55.6265 5.488 55.8825 5.68C56.1598 5.872 56.3198 6.07467 56.3625 6.288C56.4265 6.50133 56.4585 6.704 56.4585 6.896C56.4585 6.93867 56.4585 6.97067 56.4585 6.992C56.4585 7.248 56.3945 7.52533 56.2665 7.824C56.1598 8.12267 55.9145 8.37867 55.5305 8.592C55.1465 8.784 54.5705 8.88 53.8025 8.88C53.5252 8.88 52.9065 8.92267 51.9465 9.008C50.9865 9.09333 49.8132 9.2 48.4265 9.328C47.0398 9.456 45.5678 9.584 44.0105 9.712C43.7758 10.672 43.5092 11.792 43.2105 13.072C42.9332 14.352 42.6452 15.696 42.3465 17.104C42.0692 18.512 41.8025 19.8987 41.5465 21.264C41.2905 22.608 41.0772 23.856 40.9065 25.008C40.7358 26.1387 40.6185 27.0667 40.5545 27.792C40.4692 28.7733 40.1812 29.4667 39.6905 29.872C39.2212 30.256 38.7518 30.448 38.2825 30.448C37.9412 30.448 37.5998 30.3733 37.2585 30.224C36.9172 30.096 36.6398 29.808 36.4265 29.36C36.2132 28.8907 36.1065 28.1973 36.1065 27.28C36.1065 26.3413 36.1918 25.1893 36.3625 23.824C36.5332 22.4373 36.7572 20.9547 37.0345 19.376C37.3332 17.7973 37.6638 16.208 38.0265 14.608C38.4105 13.008 38.8052 11.5147 39.2105 10.128C37.7812 10.2347 36.4585 10.3307 35.2425 10.416C34.0265 10.48 33.0345 10.512 32.2665 10.512Z"
      fill="black"></path>
  </svg>
</a>

<!-- <script>
	import { getElement } from "~/helpers/dom.js"
	getElement("[data-home-link]", HTMLAnchorElement).addEventListener("contextmenu", (event) => {
		event.preventDefault()
		window.location.href = "/press#assets"
	})
</script> -->

<div class="ml-3xl flex-row items-center gap-m sm:flex">
  {
    navLinks.map((link) => (
      <a
        href={link.path}
        aria-current={
          url.pathname === link.path ? "page" : false
        }
        data-astro-prefetch
        class=" text-link  px-4 py-4 sm:py-0 "
      >
        {link.title}
      </a>
    ))
  }
</div>

<div class="hidden sm:block ml-auto">
  <SocialLinks links={socialLinks} />
</div>
