---
import { Icons } from "./icons";
---

<header class="shadow-lg">
	<nav aria-label="Primary" class="container flex h-header items-center">
		<slot />
		<button id="astro-header-drawer-button" type="button" class="link ml-6 lg:hidden">
			<Icons.menu class="w-6" />
			<span class="sr-only">Show Menu</span>
		</button>
	</nav>
</header>