---
// import { Icon } from "astro-icon"

import type { SocialLink } from "@/types";

export type Props = {
  links: SocialLink[];
};

const { links } = Astro.props;
---

<div class="flex items-center gap-4">
  {
    links.map((link) => (
      <a
        class="hover:text-link"
        target="_blank"
        rel="noopener noreferer"
        href={link.href}
      >
        {link.platform}
      </a>
    ))
  }
</div>
