---
// import { Icon } from "astro-icon"

import type { SocialLink } from "@/types";

import { Icon } from "astro-icon/components";

export type Props = {
  links: SocialLink[];
};

const { links } = Astro.props;
---

<div class="flex items-center gap-4">
  {
    links.map((link) => (
      <a
        class="hover:text-link active:text-link"
        target="_blank"
        rel="noopener noreferer"
        href={link.href}
      >
        <span class="sr-only">{link.platform}</span>

        <Icon name={link.icon} class="w-5 h-5" />
      </a>
    ))
  }
</div>
