---
// import SectionTopCorners from "@/components/ui/zzzzsection-header.astro";
// import SectionTitle from "@/components/ui/zzzzsection-title.astro";
---

<section
  class="relative flex flex-col items-center justify-center gap-3xl bg-bgColorHero mt-4xl"
>
  <!-- <SectionTopCorners class="bg-bgColorHero" /> -->
  <!-- <SectionTitle> Meet the Client </SectionTitle> -->
  <div class="flex flex-col gap-m text-center">
    <h3 class="">Britannica Home Fashions</h3>
    <p>akjsdjkaskdjas dasd</p>
  </div>
</section>
