---
import { Section } from "@/components/ui/section";
import BHFClient from "../_assets/bhf-client.mp4";
---

<Section
  client:idle
  idName="client"
  title="Meet the Client"
  backgroundColor="bgColorHero"
  className="relative flex flex-col justify-center  items-center "
>
  <div
    class="container max-w-8xl mx-auto flex flex-col gap-3xl"
  >
    <video
      src={BHFClient}
      class="aspect-video rounded-xl max-h-"></video>
    <div class="flex flex-col gap-m text-center">
      <h3 class="">Britannica Home Fashions</h3>
      <p>akjsdjkaskdjas dasd</p>
    </div>

    <button class="button-sm button-primary">
      Go to website
    </button>
  </div>
</Section>
