---
import { Section } from "@/components/ui/section";
import BHFLogo from "../_assets/bhf-logo.png";
import BHFClient from "../_assets/bhf-client.mp4";
import ProjectHeroBhfLogos from "@/pages/_components/project/project-hero-bhf-logos.astro";
import { Image } from "astro:assets";
import { Highlight } from "@/components/ui/highlight";
---

<Section
  client:idle
  parallax
  idName="client"
  title="Meet the Client"
  backgroundColor="bgColorHero"
  minHeight="180svh"
  className="relative flex flex-col  items-center   "
>
  <div
    class="flex flex-col gap-l items-center max-w-5xl mt-2xl"
  >
    <Image
      src={BHFLogo}
      format="webp"
      loading="eager"
      quality="high"
      class="text-left justify-self-start"
      alt="Brtiannica's home fashions hero"
      class=""
    />

    <p class="mt-xl">
      Britannica Home Fashions (BHF) is a <Highlight
        >worldwide frontrunner in home goods</Highlight
      >, renowned for its diverse product lines, grappled
      with the intricacies of supply chain and order
      management data.
    </p>
    <p class="">
      The company’s<Highlight>global position</Highlight> is
      reinforced by their<Highlight
        >longstanding reputation and robust collaborations
        with leading brands such as UGG, Pendleton, and
        Walmart;</Highlight
      > and is supported by a <Highlight
        >network of international offices and a
        comprehensive omnichannel distribution system.
      </Highlight>
    </p>

    <div class="mt-2xl">
      <ProjectHeroBhfLogos
        className=" gap-4xl p-m"
        rows={4}
        pageSize={3}
      />
    </div>
  </div>
</Section>
