---
import { Section } from "@/components/ui/section";
import BHFLogo from "../_assets/client-bhf-logo.png";
import ProjectHeroBhfLogos from "@/pages/projects/bhf/_components/client-brand-bhf-logos-wrapper.astro";
import { Image } from "astro:assets";
import { Highlight } from "@/components/ui/highlight";
---

<Section
  client:visible
  idName="client"
  title="Meet the Client"
  backgroundColor="bgColorHero"
  className="relative flex flex-col  items-center   "
>
  <div
    class="flex flex-col gap-l items-center max-w-sm sm:max-w-5xl mx-auto sm:mt-2xl px-l sm:px-0"
  >
    <Image
      src={BHFLogo}
      format="webp"
      loading="eager"
      quality="high"
      class="justify-self-start"
      alt="Brtiannica's home fashions logo"
      class=""
    />

    <p class="mt-xl">
      Britannica Home Fashions (BHF) is a<Highlight
        >worldwide frontrunner in home goods,</Highlight
      > renowned for its diverse product lines, grappled with
      the intricacies of supply chain and order management data.
    </p>
    <p class="">
      The company’s<Highlight>global position</Highlight>is
      reinforced by their<Highlight
        >longstanding reputation and robust collaborations
        with leading brands such as UGG, Pendleton, and
        Walmart;</Highlight
      > and is supported by a <Highlight
        >network of international offices and a
        comprehensive omnichannel distribution system.
      </Highlight>
    </p>

    <div class="mt-2xl">
      <ProjectHeroBhfLogos
        className=" gap-m sm:gap-4xl p-m"
        rows={4}
        pageSize={3}
      />
    </div>
  </div>
</Section>
