---
import Section from "@/components/ui/section.astro";
// import BHFLogo from "../_assets/client-bhf-logo.png";
import BHFVideo from "../_assets/bhf-client-video.mp4";
import { Highlight } from "@/components/ui/highlight";

import { BhfBrandLogos } from "./client-logos";
import { Separator } from "@/components/ui/separator";
import Card from "@/components/ui/card.astro";
//import { Image } from "astro:assets";
//import GlobalOutreach from "../_assets/bhf-client-global.webp";
///import Omnichannel from "../_assets/bhf-client-omnichannel.webp";
import { TravelCanvas } from "@/components/canvas/travel-canvas";
import { LoopCanvas } from "@/components/canvas/loop-canvas";

export interface BrandLogoProps {
  className?: string;
  rows?: number;
  pageSize?: number;
}

const logoPaths = import.meta.glob(
  "/src/pages/projects/bhf/_assets/logos/*.{png,jpg,jpeg,webp,svg}",
  {
    query: "?raw",
    import: "default",
  }
);
// Use Promise.all to wait for all imports to complete
const logos = await Promise.all(
  Object.values(logoPaths).map(async (logoPath) => {
    return logoPath().then((rawContent) => ({
      rawContent,
    }));
  })
).then((logoObjects) =>
  logoObjects.map(({ rawContent }) => rawContent)
);

const stringifiedLogos = logos.map((logo) => String(logo));
---

<Section
  idName="client"
  title="The Client"
  backgroundColor="bgColor"
  className="relative flex flex-col  items-center  corners-section  "
>
  <div
    class="w-[32rem] h-[220rem] absolute bg-[#143a6a]/30 -top-72 -left-[32rem] rotate-[26deg] z-0"
  >
  </div>
  <div
    class="grid grid-cols-12 gap-m container mx-auto grid-flow-row *:z-10"
  >
    <div class="my-3xl col-span-12 grid grid-cols-12 gap-m">
      <h3 class="col-span-4">
        Britannica Home <span class="text-accent"
          >Fashions</span
        >
      </h3>
      <p class="col-span-5 row-start-2">
        Britannica Home Fashions (BHF) stands as a titan in
        the global home goods industry, renowned for its
        diverse and innovative product lines. With a legacy
        spanning decades, BHF has become synonymous with
        quality and style in home textiles.
      </p>

      <Separator
        className="col-span-4 row-start-4 mt-xl  h-[1.5px] my-m bg-accent/20"
      />
    </div>

    <div
      class="grid grid-cols-12 col-span-12 gap-m mb-3xl *:flex *:flex-col *:gap-m *:items-center *:justify-center *:p-xl"
    >
      <!-- <div
        class="col-span-6 flex flex-col gap-m items-center justify-center p-6xl after:bg-accent shadow-sm shadow-accent relative after:corners"
      > -->
      <Card class="col-span-6">
        <TravelCanvas client:visible />
        <!-- <Image
          src={GlobalOutreach}
          format="webp"
          alt="Global Outreach"
          height={180}
          class=""
          quality="high"
        /> -->
        <p class="text-center max-w-80">
          Offices across multiple continents, serving an
          international clientele
        </p>
        <h6>Global Reach</h6>
      </Card>
      <Card class="col-span-6">
        <LoopCanvas client:visible />

        <!-- <Image
          src={Omnichannel}
          format="webp"
          alt="Omnichannel"
          height={180}
          class=""
          quality="high"
        /> -->
        <p class="text-center max-w-80">
          A robust distribution system covering retail,
          e-comm, and wholesale
        </p>
        <h6>Omnichannel presence</h6>
      </Card>
      <Card class="col-span-12">
        <BhfBrandLogos
          logos={stringifiedLogos}
          client:visible
          className="gap-m sm:gap-2xl p-m"
          rows={3}
          pageSize={4}
        />
        <p class="text-center max-w-80">
          Collaborations with industry leaders like UGG,
          Pendleton, and Walmart
        </p>
        <h6>Brand Partnerships</h6>
      </Card>
      <Card class="col-span-12">
        <video
          muted
          autoplay
          playsinline
          class="h-full w-full"
        >
          <source src={BHFVideo} type="video/mp4" />
        </video>
      </Card>
    </div>

    <!-- <div class="grid grid-cols-2 gap-m *:p-xl">
      <p class="">
        Britannica Home Fashions (BHF) is a<Highlight
          >worldwide frontrunner in home goods,</Highlight
        > renowned for its diverse product lines, grappled with
        the intricacies of supply chain and order management
        data.
      </p>
      <p class="">
        The company’s<Highlight>global position</Highlight
        >is reinforced by their<Highlight
          >longstanding reputation and robust collaborations
          with leading brands such as UGG, Pendleton, and
          Walmart;</Highlight
        > and is supported by a <Highlight
          >network of international offices and a
          comprehensive omnichannel distribution system.
        </Highlight>
      </p>
    </div> -->
  </div>
</Section>
