---
import { Section } from "@/components/ui/section";
---

<Section
  client:visible
  idName="client"
  title="Meet the Client"
  backgroundColor="bgColorHero"
  className="flex flex-col justify-center items-center h-full"
>
  <div class="flex flex-col gap-m text-center">
    <h3 class="">Britannica Home Fashions</h3>
    <p>akjsdjkaskdjas dasd</p>
  </div>
  <button class="button-sm button-primary">
    Go to website
  </button>
</Section>
