---
// import Card from "@/components/ui/card.astro";
import { Section } from "@/components/ui/section";
import HeroImage from "../_assets/bhf-hero-showcase.mp4";
---

<Section
  client:visible
  idName="demo"
  minHeight="65svh"
  className="flex flex-col   items-center after:bg-[#4f75ff] relative after:corner-sections [perspective:1000px]"
>
  <video
    autoplay
    playsinline
    muted
    class="w-full h-full max-w-7xl relative z-10 shadow-3xl after:corners p-m aspect-video after:bg-white object-cover grid place-content-center mx-auto shadow-2xl rounded-xl"
  >
    <source src={HeroImage} type="video/mp4" />
  </video>

  <!-- <Card
    class="w-full h-full max-w-7xl aspect-video object-cover grid place-content-center mx-auto after:corners after:bg-bgColorCard p-m"
  /> -->
</Section>
