---
import HeroImage from "../_assets/design-system-showcase.mp4";
import { Section } from "@/components/ui/section";
import { MovingBorderWrapper } from "@/components/ui/moving-border";
import HeroOverlay from "../_assets/bhf-hero-original.webp";
import { Image } from "astro:assets";
import { Roles } from "@/config/validations/project-schema";
import { isSafari } from "@/utils";

import ProjectTools from "@/pages/_components/project/project-tools.astro";

const projectRoles = [
  "chief-architect",
  "fullstack",
  "database-admin",
  "uiux",
  // "frontend",
  // "backend",
  "project-manager",
  "prototyper",
];

const projectTools = [
  "react",
  "tailwind",
  "typescript",
  "figma",
  "nextjs",
  "c",
  "sqlserver",
  "js",
  "docker",
  "swagger",
  "filemaker",
];

const roles = projectRoles.map((roleKey) => {
  // @ts-expect-error
  return Roles.get(roleKey);
});
---

<Section
  client:visible
  idName="hero"
  minHeight="180svh"
  parallax
  skipRoundCorners
  margin="none"
  padding="none"
  backgroundColor="bgColor"
  className=" bg-bgColor relative flex flex-col items-center justify-center  gap-5xl sm:p-3xl "
>
  <Image
    src={HeroOverlay}
    format="webp"
    loading="eager"
    quality="high"
    alt="Brtiannica's home fashions hero"
    class="absolute inset-0 opacity-40 -z-10 bg-bgColor object-cover grid justify-stretch items-stretch transition-opacity duration-200 [transform:translateZ(0)] w-full h-full sm:w-fit sm:h-fit"
  />
  <div
    class="flex flex-col gap-m sm:justify-center items-center max-w-sm sm:max-w-2xl sm:mx-auto px-l sm:px-0"
  >
    <MovingBorderWrapper client:visible>
      ERP System
    </MovingBorderWrapper>
    <h3 class="text-center">
      Designing the Future of <span class="text-accent"
        >Britannica Home Fashions</span
      >
    </h3>
    <p class="text-center">
      I worked as the design lead on a major iteration of
      Britannica’s home fashions internal software
      application. We took the platform in a bold new
      direction, focusing on standardized components,
      promoting consistency, and facilitating collaboration.
    </p>
    <div
      class="mt-2xl flex flex-row gap-m flex-wrap items-center justify-center"
    >
      {
        roles?.map((role) => (
          <span class="w-max border-2  border-accent/40 py-xs px-s rounded-xl">
            {role}
          </span>
        ))
      }
    </div>
    <div class="max-w-xl mt-xl">
      <ProjectTools
        toolKeys={projectTools}
        rows={1}
        perRow={20}
        transparent
      />
    </div>
  </div>

  <video
    autoplay
    playsinline
    muted
    class="w-full h-full max-w-7xl aspect-video object-cover rounded-xl"
  >
    <source src={HeroImage} type="video/mp4" />
  </video>
</Section>
