---
import HeroImage from "../_assets/design-system-showcase.mp4";

import { Section } from "@/components/ui/section";
---

<Section
  client:load
  idName="hero"
  minHeight="160svh"
  parallax
  margin="none"
  padding="none"
  backgroundColor="bgColorHero"
  className="bg-bgColorHero flex flex-col items-center justify-center  gap-5xl p-3xl"
>
  <div class="flex flex-col gap-m">
    <h3>Designing the Future of BHF</h3>
    <p class="fluid:text-xl">
      Heres how i managed to transform entire teams and
      processes.
    </p>
  </div>
  <video
    src={HeroImage}
    autoplay
    class="w-full h-full object-cover rounded-xl"
  >
  </video>
</Section>
