---
import HeroImage from "../_assets/design-system-showcase.mp4";
import { Image } from "astro:assets";
---

<section
  class="bg-bgColorHero flex flex-col items-center justify-center min-h-[160svh] gap-5xl p-3xl"
>
  <div class="flex flex-col gap-m">
    <h3>Designing the Future of BHF</h3>
    <p class="fluid:text-xl">
      Heres how i managed to transform entire teams and
      processes.
    </p>
  </div>
  <video
    src={HeroImage}
    autoplay
    class="w-full h-full object-cover rounded-xl"
  >
  </video>
</section>
