---
import Section from "@/components/ui/section.astro";

import { Separator } from "@/components/ui/separator";
import { ImpactGrid } from "./impact-grid-v2";
---

<Section
  idName="impact"
  title="Impact"
  backgroundColor="bgColor"
  className="flex flex-col   items-center relative corners-section after:bg-bgColor"
>
  <div
    class="grid grid-cols-12 gap-m container mx-auto grid-flow-row *:z-10"
  >
    <div class="my-3xl col-span-12 grid grid-cols-12 gap-m">
      <h3 class="col-span-5">
        Measurable Results and Long-term <span
          class="text-accent">Benefits</span
        >
      </h3>
      <p class="col-span-5 row-start-2">
        Our custom ERP solution has had a profound and
        far-reaching impact on Britannica Home Fashions'
        operations and bottom line: Financial Impact,
        Operational Efficiency, Environmental Impact.,
        Global Collaboration. Scalability and Growth and
        more.
      </p>
      <p class="col-span-5 row-start-3">
        By creating a tailor-made ERP solution, we've not
        only addressed BHF's immediate challenges but also
        positioned the company for sustained growth and
        innovation in the competitive home textiles market.
        The system's modular design ensures that it can
        continue to evolve with BHF's needs, maintaining its
        competitive edge for years to come.
      </p>

      <Separator
        className="col-span-4 row-start-4 mt-xl  h-[1.5px] my-m bg-accent/20"
      />
    </div>
    <div class="w-full col-span-12">
      <ImpactGrid client:visible />
    </div>
  </div>
</Section>
