---
import { Section } from "@/components/ui/section";
---

<Section
  client:visible
  idName="problem"
  title="The Problem"
  backgroundColor="bgColor"
  className="flex flex-col justify-center  items-center "
>
  <h1 class="z-20">Hello</h1>
</Section>
