---
import Section from "@/components/ui/section.astro";
import { Highlight } from "@/components/ui/highlight";
import { Separator } from "@/components/ui/separator";
---

<Section
  idName="process"
  title="The Process"
  backgroundColor="bgColorHero"
  className="flex flex-col   items-center relative corners-section after:bg-bgColorHero"
>
  <div
    class="grid grid-cols-12 gap-m container mx-auto grid-flow-row *:z-10"
  >
    <div class="my-3xl col-span-12 grid grid-cols-12 gap-m">
      <h3 class="col-span-4">
        Everyone Faces <span class="text-accent"
          >Challenges</span
        >
      </h3>
      <p class="col-span-5 row-start-2">
        Despite its global success, BHF recognized that
        their existing systems were holding them back from
        optimizing operations and enhancing overall
        efficiency. The company faced several key
        challenges: Scalability Issues, Manual Processes,
        Communication Issues, and more.
      </p>
      <p class="col-span-5 row-start-3">
        To tackle this complex challenge, BHF brought me on
        board to develop a comprehensive, ground-up ERP
        solution tailored to their unique needs.
      </p>

      <Separator
        className="col-span-12 row-start-4 mt-m  h-[1.5px] my-m bg-bgColorCard "
      />
    </div>
  </div>
</Section>
