---
import { Section } from "@/components/ui/section";
import { Highlight } from "@/components/ui/highlight";
---

<Section
  client:visible
  idName="process"
  title="The Process"
  backgroundColor="bgColorHero"
  className="flex flex-col   items-center relative"
>
  <div
    class="flex flex-col gap-l items-center max-w-sm sm:container sm:mx-auto px-xl sm:px-0 w-full"
  >
    <p>
      <Highlight
        >Despite its global success, BHF acknowledged the
        need to optimize operations and enhance efficiency.</Highlight
      > Occasional communication gaps between departments hindered
      access to crucial information, potentially impacting production
      schedules, revenue, and reputation. The existing manual
      processes, although functional, presented opportunities
      for improvement to minimize errors and boost productivity.
    </p>
    <p>
      Leadership recognized that a more integrated internal
      system would bridge communication gaps, streamline
      inventory management, and simplify financial
      reporting. The current system required upgrades to
      enhance performance and user experience. <Highlight
        >Investing in a robust, unified system would
        position BHF for continued growth and success.</Highlight
      >
    </p>
    <p>
      To tackle this challenge, BHF hired me to develop a
      comprehensive ERP system from the ground up. The
      objective was to create a seamless platform that would
      improve processes, increase data accuracy, and deliver
      real-time insights. <Highlight
        >I constructed the system module by module,
        encompassing item creation, purchase orders,
        invoicing, vendor portal, DocuSign integration, API
        connections, and more.</Highlight
      > By unifying these components, BHF would operate more
      efficiently, reduce errors, and make informed, data-driven
      decisions.
    </p>
    <p>
      As the system grew in complexity and scope, it became
      necessary to expand the development team to ensure
      effective maintenance and continuous improvement. <Highlight
        >I took on the role of a manager and mentor, guiding
        junior and intermediate developers as they joined
        the team.</Highlight
      > This transition allowed me to oversee the system's growth,
      delegate tasks, and provide guidance to the growing development
      team.
    </p>
  </div>
</Section>
