---
import Section from "@/components/ui/section.astro";
import { Highlight } from "@/components/ui/highlight";
import { Separator } from "@/components/ui/separator";
---

<Section
  idName="process"
  title="The Process"
  backgroundColor="bgColorHero"
  className="flex flex-col   items-center relative corners-section after:bg-bgColorHero"
>
  <div
    class="grid grid-cols-12 gap-m container mx-auto grid-flow-row *:z-10"
  >
    <div class="my-3xl col-span-12 grid grid-cols-12 gap-m">
      <h3 class="col-span-4">
        Agile Development <span class="text-accent"
          >Process</span
        >
      </h3>
      <p class="col-span-5 row-start-2">
        Out iterative process ensures we deliver
        high-quality, user-centric solutions that truly meet
        BHF's evolving needs while maintaining flexibility
        for future growth and changes.
      </p>

      <Separator
        className="col-span-4 row-start-4 mt-xl h-[1.5px] my-m bg-accent/20"
      />
    </div>
  </div>
</Section>
