---
import { Section } from "@/components/ui/section";
import Contact from "@/components/Contact.astro";
// import Contact from "@/pages/_components/contact.astro";
---

<Section
  client:visible
  idName="solution"
  title="The Solution"
  backgroundColor="bgColor"
  className="flex flex-col justify-center items-center "
>
  <p>
    I worked as the design lead on a major iteration of
    Britannica’s home fashion internal software application.
    We took the platform in a bold new direction, focusing
    on standardized components, promoting consistency, and
    facilitating collaboration.
  </p>
  <Contact />
</Section>
