---
import { Section } from "@/components/ui/section";
import Contact from "@/components/Contact.astro";
// import Contact from "@/pages/_components/contact.astro";
---

<Section
  client:visible
  idName="solution"
  title="The Solution"
  backgroundColor="bgColor"
  className="flex flex-col justify-center items-center "
>
  <Contact />
</Section>
