---
import { Section } from "@/components/ui/section";
// import Contact from "@/pages/_components/contact.astro";
// import hero from "../_assets/bhf-hero-original.webp";
import hero from "../_assets/spr-storyboarder-dark.png";
import pos from "../_assets/bhf-feature-pos.webp";
import matching from "../_assets/bhf-feature-matching.webp";
import designsystem from "../_assets/bhf-feature-design-system.webp";

import { Tabs, type Tab } from "./solution-tabs";
import TabContent from "./tab-content.astro";

const tabs: Tab[] = [
  {
    title: "Overview",
    value: "overview",

    content: {
      header: "Overview",
      description:
        "The purchase order module automates time-consuming tasks, improving efficiency in procurement. It eliminates errors, reduces paperwork, and accelerates the purchasing cycle. The module enables faster order processing and better inventory management. These improvements contribute to generating millions in monthly revenue.",

      stats: [
        { label: "Efficiency Increase", value: "200%" },
        { label: "Time Saved", value: "5 hours/week" },
        {
          label: "User Satisfaction",
          value: 9.8,
          includePercentageSymbol: true,
        },
      ],
      image: hero.src,
    },
  },
  {
    title: "Purchase Orders",
    value: "pos",

    content: {
      header: "Purchase Orders",
      description:
        "The purchase order module automates time-consuming tasks, improving efficiency in procurement. It eliminates errors, reduces paperwork, and accelerates the purchasing cycle. The module enables faster order processing and better inventory management. These improvements contribute to generating millions in monthly revenue.",

      stats: [
        { label: "Efficiency Increase", value: "200%" },
        { label: "Time Saved", value: "5 hours/week" },
        {
          label: "User Satisfaction",
          value: 9.8,
          includePercentageSymbol: true,
        },
      ],
      image: pos.src,
    },
  },
  {
    title: "Design System",
    value: "designsystem",

    content: {
      header: "Design System",
      description:
        "The purchase order module automates time-consuming tasks, improving efficiency in procurement. It eliminates errors, reduces paperwork, and accelerates the purchasing cycle. The module enables faster order processing and better inventory management. These improvements contribute to generating millions in monthly revenue.",

      stats: [
        { label: "Efficiency Increase", value: "200%" },
        { label: "Time Saved", value: "5 hours/week" },
        {
          label: "User Satisfaction",
          value: 9.8,
          includePercentageSymbol: true,
        },
      ],
      image: designsystem.src,
    },
  },
  {
    title: "Matching",
    value: "matching",

    content: {
      header: "PO Matching",
      description:
        "The purchase order module automates time-consuming tasks, improving efficiency in procurement. It eliminates errors, reduces paperwork, and accelerates the purchasing cycle. The module enables faster order processing and better inventory management. These improvements contribute to generating millions in monthly revenue.",

      stats: [
        { label: "Efficiency Increase", value: "200%" },
        { label: "Time Saved", value: "5 hours/week" },
        {
          label: "User Satisfaction",
          value: 9.8,
          includePercentageSymbol: true,
        },
      ],
      image: matching.src,
    },
  },
];

// const tabs = [
//   {
//     title: "Product",
//     value: "product",
//     content: (
//       <div class="w-full overflow-hidden relative h-full rounded-2xl p-10 text-xl md:text-4xl font-bold text-white bg-gradient-to-br from-purple-700 to-violet-900">
//         <p>Product Tab</p>
//         <DummyContent />
//       </div>
//     ),
//   },
//   {
//     title: "Services",
//     value: "services",
//     content: (
//       <div class="w-full overflow-hidden relative h-full rounded-2xl p-10 text-xl md:text-4xl font-bold text-white bg-gradient-to-br from-purple-700 to-violet-900">
//         <p>Services tab</p>
//         <DummyContent />
//       </div>
//     ),
//   },
// ];
---

<Section
  client:visible
  idName="solution"
  title="The Solution"
  backgroundColor="accent"
  minHeight="160svh"
  className="flex flex-col items-center min-h-max "
>
  <div class="container mx-auto h-svh">
    <Tabs tabs={tabs} client:visible />
  </div>
</Section>
