---
import Section from "@/components/ui/section.astro";
import dashboard from "../_assets/bhf-feature-dashboard.webp";
import Pos from "../_assets/bhf-feature-pos-v4.webp";
import PoMatching from "../_assets/bhf-feature-matching.webp";
import DesignSystem from "../_assets/bhf-feature-design-system-v3.webp";
import Linesheets from "../_assets/bhf-feature-linesheets-v2.webp";
import { Tabs, type Tab } from "./solution-tabs";
import { Separator } from "@/components/ui/separator";

const tabs: Tab[] = [
  {
    title: "Purchase Orders",
    value: "po_module",

    content: {
      header: "Purchase Orders",
      description:
        "The purchase order module automates time-consuming tasks, improving efficiency in procurement. It eliminates errors, reduces paperwork, and accelerates the purchasing cycle. The module enables faster order processing and better inventory management, addressing previous challenges of manual processes and lack of visibility.",

      stats: [
        {
          label: "Efficiency Increase",
          value: 200,
          includePercentageSymbol: true,
        },
        { label: "Time Saved", value: "5h/week" },
        {
          label: "Error Reduction",
          value: 85,
          includePercentageSymbol: true,
        },
        {
          label: "Revenue Impact",
          value: "Millions/month",
        },
      ],
      image: Pos.src,
    },
  },
  {
    title: "Line Sheets Development",
    value: "line_sheets",

    content: {
      header: "Line Sheets Development",
      description:
        "This module simplifies the creation and distribution of product line sheets, integrating real-time data from the product database. It offers customizable templates and easy sharing options, solving the previous time-consuming manual creation process and issues with outdated information.",

      stats: [
        {
          label: "Time Saved",
          value: 75,
          includePercentageSymbol: true,
        },
        {
          label: "Sales Team Productivity",
          value: 30,
          includePercentageSymbol: true,
        },
        {
          label: "Brand Consistency",
          value: 100,
          includePercentageSymbol: true,
        },
        {
          label: "Client Interactions",
          value: 40,
          includePercentageSymbol: true,
        },
      ],
      image: Linesheets.src,
    },
  },
  {
    title: "Design System",
    value: "design_system",

    content: {
      header: "Design System",
      description:
        "Our comprehensive design system ensures consistency across all ERP modules, improving user experience and development efficiency. It includes a standardized component library, accessibility compliance, and responsive design, addressing previous inconsistencies in user interfaces.",

      stats: [
        {
          label: "Development Speed",
          value: 40,
          includePercentageSymbol: true,
        },
        {
          label: "User Errors",
          value: -30,
          includePercentageSymbol: true,
        },
        {
          label: "Training Costs",
          value: -50,
          includePercentageSymbol: true,
        },
        {
          label: "User Adoption",
          value: 45,
          includePercentageSymbol: true,
        },
      ],
      image: DesignSystem.src,
    },
  },
  {
    title: "PO Matching",
    value: "po_matching",

    content: {
      header: "PO Matching",
      description:
        "This module automates the matching of purchase orders, invoices, and receipts, integrating seamlessly with accounting systems. It features intelligent document recognition and custom exception handling, solving previous issues of time-consuming manual matching and payment errors.",

      stats: [
        {
          label: "Processing Time",
          value: -70,
          includePercentageSymbol: true,
        },
        {
          label: "Payment Accuracy",
          value: 99.9,
          includePercentageSymbol: true,
        },
        {
          label: "Cash Flow Forecasting",
          value: 60,
          includePercentageSymbol: true,
        },
        {
          label: "Supplier Satisfaction",
          value: 40,
          includePercentageSymbol: true,
        },
      ],
      image: PoMatching.src,
    },
  },
  {
    title: "Personalized Dashboards",
    value: "dashboards",

    content: {
      header: "Personalized Dashboards",
      description:
        "Tailored dashboards provide role-specific views of critical data, enabling quick access to insights and real-time updates. With customizable widgets and mobile responsiveness, it addresses the previous challenge of delayed decision-making due to information access issues.",

      stats: [
        {
          label: "Decision Speed",
          value: 50,
          includePercentageSymbol: true,
        },
        {
          label: "User Engagement",
          value: 50,
          includePercentageSymbol: true,
        },
        {
          label: "Report Generation Time",
          value: -60,
          includePercentageSymbol: true,
        },
        {
          label: "Cross-dept Collaboration",
          value: 35,
          includePercentageSymbol: true,
        },
      ],
      image: dashboard.src,
    },
  },
];

// const tabs = [
//   {
//     title: "Product",
//     value: "product",
//     content: (
//       <div class="w-full overflow-hidden relative h-full rounded-2xl p-10 text-xl md:text-4xl font-bold text-white bg-gradient-to-br from-purple-700 to-violet-900">
//         <p>Product Tab</p>
//         <DummyContent />
//       </div>
//     ),
//   },
//   {
//     title: "Services",
//     value: "services",
//     content: (
//       <div class="w-full overflow-hidden relative h-full rounded-2xl p-10 text-xl md:text-4xl font-bold text-white bg-gradient-to-br from-purple-700 to-violet-900">
//         <p>Services tab</p>
//         <DummyContent />
//       </div>
//     ),
//   },
// ];
---

<Section
  idName="solution"
  title="The Solution"
  backgroundColor="hero"
  minHeight="220svh"
  className="flex flex-col items-center  py-3xl corners-section after:bg-bgColorHero relative"
>
  <div
    class="grid grid-cols-12 gap-m container mx-auto grid-flow-row *:z-10"
  >
    <div class="my-3xl col-span-12 grid grid-cols-12 gap-m">
      <h3 class="col-span-4">
        A Modular <span class="text-accent">Approach</span>
      </h3>
      <p class="col-span-5 row-start-2">
        Our custom ERP solution comprises several
        interconnected modules, each addressing specific
        business needs. This modular approach allows for
        flexibility, scalability, and targeted improvements.
      </p>

      <Separator
        className="col-span-4 row-start-4 mt-xl  h-[1.5px] my-m bg-accent/20"
      />
    </div>

    <div
      class="col-span-12 h-svh items-center max-w-sm sm:container sm:mx-auto px-l sm:px-0 w-full"
    >
      <Tabs tabs={tabs} client:visible />
    </div>
  </div>
</Section>
