---
interface Props {
  backgroundType:
    | "hero"
    | "toProjects"
    | "fromProjects"
    | "projects";
  class?: string;
}

const { backgroundType, class: className } =
  Astro.props as Props;
---

<div
  class:list={[
    backgroundType === "hero" &&
      "bg bg-hero bg-bgColorHero",
    backgroundType === "projects" && "bg bg-bgColor",
    backgroundType === "toProjects" &&
      "bg  bg-gradient-to-b from-bgColorHero/80 via-neutral-850 via-neutral-900 to-bgColor h-svh -translate-x-[45%] ",
    backgroundType === "fromProjects" &&
      "bg bg-gradient-to-b  to-bgColor from-neutral-950 ",
    className,
  ]}
>
  <slot />
</div>

<style>
  .bg {
    position: absolute;
    width: 100dvw;
    aspect-ratio: 1;
    overflow: visible;
    z-index: -10;
    content: "";
    inset: 0;
  }

  .bg-hero {
    display: block;
    left: 130%;
    top: 40%;
    min-height: 100svh;
    transform: translateX(-50%) translateY(-50%);
    background-image: radial-gradient(
      at 50% 50% in oklch,
      color-mix(
          in oklch,
          oklch(80% 0.2 160),
          oklch(70% 0.25 150) 80%
        )
        0%,
      color-mix(
          in oklch,
          oklch(80% 0.2 160),
          oklch(70% 0.25 150) 10%
        )
        19%,
      color-mix(
          in oklch,
          oklch(80% 0.2 160),
          oklch(70% 0.25 150) 20%
        )
        20%,
      color-mix(
          in oklch,
          oklch(80% 0.2 160),
          oklch(70% 0.25 150) 80%
        )
        40%,
      color-mix(
          in oklch,
          oklch(70% 0.25 150),
          oklch(60% 0.2 140) 50%
        )
        55%,
      transparent 70%
    );
  }
</style>
