---
interface Props {
  class?: string | string[] | Record<string, boolean>;
  useAccent?: boolean;
}

const { class: className, useAccent = false } =
  Astro.props as Props;
---

<div
  class:list={[
    "flex flex-col backdrop-blur-md relative   shadow-xl min-w-0 h-full  stroke-[0.1] hover:stroke-[0.15] after:corners border border-accent/20 rounded-xl ",
    useAccent ? "after:bg-accent" : "after:bg-bgColorHero",
    className,
  ]}
>
  <slot />
</div>
