---
interface Props {
  class?: string | string[] | Record<string, boolean>;
}

const { class: className } = Astro.props as Props;
---

<div
  class:list={[
    "flex flex-col backdrop-blur-md relative border border-accent-2/70 bg-gradient-to-tr from-white/10 to-accent-2/40 shadow-xl min-w-0 h-full rounded-xl stroke-[0.1] hover:stroke-[0.15] ",
    className,
  ]}
>
  <slot />
</div>
