---
import { navLinks, siteConfig } from "@/config/site";

const year = new Date().getFullYear();
---

<footer
  class="mt-2xl mb-xl max-w-3xl mx-auto flex w-full flex-col items-center justify-center gap-y-2 py-l text-center align-top font-semibold sm:flex-row sm:justify-between *:opacity-80 *:text-xs sm:*:text-sm px-l sm:px-0"
>
  <span class="me-0 sm:me-4">
    Created by yours truly &copy; {year}{" "}
    {siteConfig.name}
  </span>
  <nav
    aria-label="More on this site"
    class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500"
  >
    {
      navLinks.map((link) => (
        <a
          href={link.href}
          class="px-4 py-2 sm:px-2 sm:py-0 sm:hover:text-textColor sm:hover:underline"
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</footer>
