---
// import { Icons } from "./icons";
import Nav from "./nav.astro";
import NavMobile from "./nav-mobile-content.astro";
import { NavMobileButton } from "./nav-mobile-button";
import { FloatingNav } from "./floating-navbar";
import { DrawerDemo } from "../../components/drawer-test";
---

<header
  id="main-header"
  class="group sticky top-0 z-20 bg-bgColor"
>
  <Nav />
  <!-- <div class="md:hidden"> -->
  <!-- <NavMobile client:load /> -->
  <NavMobileButton client:load>
    <NavMobile />
  </NavMobileButton>
  <!-- </div> -->
</header>
