---
import { navLinks, socialLinks } from "@/config/site";
import SocialLinks from "./social-links.astro";
import NavLink from "./nav-link.astro";
import ThemeToggle from "./theme-toggle.astro";
import ContactMe from "@/components/ui/contact-me.astro";
---

<nav
  aria-label="Primary"
  class="flex items-end w-full h-full flex-col text-right [&>*]:p-l"
>
  <ul id="menu-items" class="flex flex-col gap-l">
    {
      navLinks.map((link) => (
        <li class="py-1">
          <NavLink class="" href={link.href}>
            {link.title}
          </NavLink>
        </li>
      ))
    }
  </ul>

  <SocialLinks links={socialLinks} class="gap-xl" />
  <ContactMe />
</nav>
