---
import { navLinks, socialLinks } from "@/config/site";
import SocialLinks from "./social-links.astro";
import NavLink from "./nav-link.astro";
import ThemeToggle from "./theme-toggle.astro";
import Logo from "./logo.astro";
---

<nav
  aria-label="Primary"
  class="flex justify-center align-middle w-full h-full flex-col divide-y divide-grey-500 text-left [&>*]:p-l"
>
  <Logo />

  <ul id="menu-items" class="flex flex-col gap-m">
    {
      navLinks.map((link, index) => (
        <li class="py-1">
          <NavLink class="" href={link.href}>
            {link.title}
          </NavLink>
        </li>
      ))
    }
  </ul>

  <div class="[&>*]:gap-l">
    <SocialLinks links={socialLinks} />
  </div>

  <ThemeToggle />
</nav>
