---
import { navLinks, socialLinks } from "@/config/site";
import SocialLinks from "./social-links.astro";
import NavLink from "../ui/nav-link.astro";
import ThemeToggle from "./theme-toggle.astro";
import Logo from "./logo.astro";
import ContactMe from "./contact-me.astro";
---

<nav
  aria-label="Primary"
  class="grid grid-cols-12 gap-m w-full *:items-center *:justify-center"
>
  <Logo class="col-span-1 md:flex justify-self-start" />

  <ul
    id="menu-items"
    class="col-span-6 flex-row gap-4xl hidden md:flex"
  >
    {
      navLinks.map((link) => (
        <li class=" ">
          <NavLink class="" href={link.href}>
            {link.title}
          </NavLink>
        </li>
      ))
    }
  </ul>

  <SocialLinks
    class="col-span-3 gap-xl hidden md:flex"
    links={socialLinks}
  />

  <ContactMe
    class="col-span-2 hidden md:flex justify-self-end"
  />

  <!-- <ThemeToggle
    class="col-span-1 hidden md:flex justify-self-end"
  /> -->
</nav>
