---
import { navLinks, socialLinks } from "@/config/site";
import SocialLinks from "./social-links.astro";
import NavLink from "../ui/nav-link.astro";
import ThemeToggle from "./theme-toggle.astro";
import Logo from "./logo.astro";
---

<nav
  aria-label="Primary"
  class="grid grid-cols-12 gap-m w-full *:items-center *:justify-center md:container mx-auto bg-bgColor"
>
  <Logo class="col-span-1 md:flex justify-self-start" />

  <ul
    id="menu-items"
    class="col-span-7 flex-row gap-xl hidden md:flex"
  >
    {
      navLinks.map((link) => (
        <li class=" ">
          <NavLink class="" href={link.href}>
            {link.title}
          </NavLink>
        </li>
      ))
    }
  </ul>

  <SocialLinks
    class="col-span-3 gap-m hidden md:flex"
    links={socialLinks}
  />

  <ThemeToggle
    class="col-span-1 hidden md:flex justify-self-end"
  />
</nav>
