---
interface Props {
  type:
    | "hero"
    | "accent"
    | "bgColor"
    // | "toProjects"
    // | "fromProjects"
    | "aurora";
  // | "projects";
  class?: string;
}

const { type, class: className } = Astro.props as Props;
---

<div
  class:list={[
    type === "hero" && "bg bg-hero bg-bgColorHero",
    type === "bgColor" && "bg bg-bgColor",
    // backgroundType === "toProjects" &&
    //   "bg  bg-gradient-to-b from-bgColorHero via-bgColor/80  to-bgColor h-svh -translate-x-[45%] ",
    // backgroundType === "fromProjects" &&
    //   "bg bg-gradient-to-b  to-bgColor from-neutral-950 ",
    type === "aurora" &&
      " [--white-gradient:repeating-linear-gradient(100deg,oklch(95%_0.05_0)_0%,oklch(95%_0.05_0)_7%,var(--transparent)_10%,var(--transparent)_12%,oklch(95%_0.05_0)_16%)] [--dark-gradient:repeating-linear-gradient(100deg,oklch(5%_0.05_0)_0%,oklch(5%_0.05_0)_7%,var(--transparent)_10%,var(--transparent)_12%,oklch(5%_0.05_0)_16%)] [--aurora:repeating-linear-gradient(100deg,oklch(60%_0.25_210)_10%,oklch(70%_0.2_230)_15%,oklch(60%_0.3_240)_20%,oklch(80%_0.1_270)_25%,oklch(50%_0.2_250)_30%)] [background-image:var(--white-gradient),var(--aurora)] dark:[background-image:var(--dark-gradient),var(--aurora)] [background-size:300%,_200%] [background-position:50%_50%,50%_50%] filter blur-[10px] invert dark:invert-0 after:content-[''] after:absolute after:inset-0 after:[background-image:var(--white-gradient),var(--aurora)] after:dark:[background-image:var(--dark-gradient),var(--aurora)] after:[background-size:200%,_100%] after:animate-aurora after:[background-attachment:fixed] after:mix-blend-difference pointer-events-none absolute -inset-[10px] opacity-20 ",
    className,
  ]}
>
  <slot />
</div>

<style>
  .bg {
    position: absolute;
    width: 100dvw;
    aspect-ratio: 1;
    overflow: visible;
    z-index: -10;
    content: "";
    inset: 0;
  }

  .bg-hero {
    display: block;
    left: 130%;
    top: 40%;
    min-height: 100svh;
    transform: translateX(-50%) translateY(-50%);
    background-image: radial-gradient(
      at 50% 50% in oklch,
      color-mix(
          in oklch,
          oklch(80% 0.2 160),
          oklch(70% 0.25 150) 80%
        )
        0%,
      color-mix(
          in oklch,
          oklch(80% 0.2 160),
          oklch(70% 0.25 150) 10%
        )
        19%,
      color-mix(
          in oklch,
          oklch(80% 0.2 160),
          oklch(70% 0.25 150) 20%
        )
        20%,
      color-mix(
          in oklch,
          oklch(80% 0.2 160),
          oklch(70% 0.25 150) 80%
        )
        40%,
      color-mix(
          in oklch,
          oklch(70% 0.25 150),
          oklch(60% 0.2 140) 50%
        )
        55%,
      transparent 70%
    );
  }
</style>
