---
import Background from "./section-background.astro";

const { backgroundType, class: className } = Astro.props;
---

<h6
  class:list={[
    "relative p-0 px-s bg-accent text-sm tracking-wider text-black font-bold w-max rounded-xl ",
    className,
  ]}
>
  <Background backgroundType={backgroundType} />
  <slot />
</h6>
