---
import { Icon } from "astro-icon/components";
const { class: className } = Astro.props;
---

<button
  id="theme-toggle"
  class:list={[
    "flex items-center justify-center w-max text-current",
    className,
  ]}
  aria-label="Change color scheme"
>
  <Icon name="moon" class="size-3" />
</button>

<script>
  document.addEventListener(
    "astro:page-load",
    initializeTheme
  );
  document.addEventListener(
    "astro:after-swap",
    initializeTheme
  );

  function initializeTheme() {
    const docEl = document.documentElement;
    let theme =
      localStorage.getItem("theme") ||
      (window.matchMedia("(prefers-color-scheme: dark)")
        .matches
        ? "dark"
        : "light");

    if (theme === "light") {
      docEl.classList.remove("dark");
    } else {
      docEl.classList.add("dark");
    }

    const themeToggleButton =
      document.getElementById("theme-toggle");
    themeToggleButton?.addEventListener(
      "click",
      debounce(handleToggleClick, 300)
    );

    function handleToggleClick() {
      docEl.classList.toggle("dark");
      theme = docEl.classList.contains("dark")
        ? "dark"
        : "light";
      localStorage.setItem("theme", theme);
    }

    function debounce(func, wait) {
      let timeout;
      return function executedFunction(...args) {
        const later = () => {
          clearTimeout(timeout);
          func(...args);
        };
        clearTimeout(timeout);
        timeout = setTimeout(later, wait);
      };
    }
  }
</script>
