---
import { Icon } from "astro-icon/components";
const { class: className } = Astro.props;
---

<button
  id="theme-toggle"
  class:list={[
    "flex items-center justify-center   text-textColor w-full h-max  ",
    className,
  ]}
  aria-label="Change color scheme"
>
  <div class="h-full w-max hover:glow">
    <Icon name="moon" class="size-6" />
  </div>
</button>

<script>
  document.addEventListener(
    "astro:page-load",
    initializeTheme
  );
  document.addEventListener(
    "astro:after-swap",
    initializeTheme
  );

  function initializeTheme() {
    const docEl = document.documentElement;
    let theme =
      localStorage.getItem("theme") ||
      (window.matchMedia("(prefers-color-scheme: dark)")
        .matches
        ? "dark"
        : "light");

    if (theme === "light") {
      docEl.classList.remove("dark");
    } else {
      docEl.classList.add("dark");
    }

    const themeToggleButton =
      document.getElementById("theme-toggle");
    themeToggleButton?.addEventListener(
      "click",
      debounce(handleToggleClick, 300)
    );

    function handleToggleClick() {
      docEl.classList.toggle("dark");
      theme = docEl.classList.contains("dark")
        ? "dark"
        : "light";
      localStorage.setItem("theme", theme);
    }

    function debounce<T extends (...args: any[]) => void>(
      func: T,
      wait: number
    ): (...args: Parameters<T>) => void {
      let timeout: NodeJS.Timeout | null = null;

      return function executedFunction(
        this: any,
        ...args: Parameters<T>
      ): void {
        const later = () => {
          timeout = null;
          func.apply(this, args);
        };

        if (timeout !== null) {
          clearTimeout(timeout);
        }

        timeout = setTimeout(later, wait);
      };
    }
  }
</script>
