---
import SectionTitle from "./zzzzsection-title.astro";
const { class: className = "bg-bgColorHero" } = Astro.props;
---

<div
  class:list={[
    "absolute rounded-t-[8rem] -top-6xl inset-0 border-t-4 border-accent ",
    className,
  ]}
>
</div>
